<!DOCTYPE html>
<html lang="fr-FR">

<head>
  <meta charset="UTF-8">
  <title>[{{ application_name }}] Publications dans votre groupe</title>
</head>

<body style="font-family: Arial, sans-serif; background: #f8f9fa; margin: 0; padding: 0;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background: #f8f9fa;">
    <tr>
      <td align="center">
        <table width="600" cellpadding="0" cellspacing="0" border="0"
          style="background: #fff; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.05); margin-top: 30px; margin-bottom: 30px;">
          <tr>
            <td style="padding: 0 40px 10px 40px; text-align: center;">
              {% if message %}
              {{ message }}
              {% else %}
              <h1 style="color: {{ theme_color }}; margin: 0 0 12px 0;">Un nouveau signalement a été publié</h1>
              <p style="font-size: 1.15em; color: #333; margin: 0;">
                Le signalement <a href="{{ url_feature }}">{{ feature.title|title }} </a> a été publié dans le projet {{ feature.project.title|title }} le {{ event.created_on }}
              </p>
              {% endif%}
            </td>
          </tr>
          <tr>
            <td style="padding: 30px 40px 0 40px;">
              <hr style="border:0;height:1px;background:#eee;margin:0 0 22px 0">
              <p style="font-size: 0.95em; color: #777; text-align: center; font-style: italic;">
                Vous avez reçu ce message car vous êtes membre du groupe <b>{{ group.display_name }}</b>.<br>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>