{% load app_filters %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta content="text/html; charset=UTF-8">
<title>Notifications</title>
</head>
<body>
  {% if message %}
    {{ message }}
  {% else %}
    Bonjour,<br>
    Voici les derniers événements des projets que vous suivez :
  {% endif %}
  <br>
  <ul>
    {% for stacked_event in stacked_events %}
      <li>
        <h4 style="font-size:1em;font-weight:bold;">{{ stacked_event.project_data.title }}</h4>
        {% for feature_type_title, features in stacked_event.stack_data.events.items %}
          <p style="font-size:1em;margin-left:10px;"> - {{ feature_type_title }} :</p>
          <ul>
            {% for feature_title, feature_details in features.items %}
              <li>
                <a href="{{ feature_details.feature_url|absurl }}" style="font-size:.95em;margin-left:10px;" target="_blank" rel="noopener">« {{ feature_title }} »</a>
                <ul>
                  {% for event in feature_details.events %}
                    <li style="font-size:.9em;margin-left:10px;">
                      {{ event.created_on }} - 
                      {% if event.event_type == 'delete' %}
                        {% if event.object_type == 'feature' %}
                          supprimé par {{ event.display_user }}
                        {% elif event.object_type == 'comment' %}
                          Commentaire «{{ event.related_comment.comment }}» supprimé par {{ event.display_user }}
                        {% endif %}

                      {% elif event.event_type == 'create' %}
                        {% if event.object_type == 'feature' %}
                          créé par {{ event.display_user }}
                        {% elif event.object_type == 'comment' %}
                          Commentaire «{{ event.related_comment.comment }}» par {{ event.display_user }}
                        {% elif event.object_type == 'attachment' %}
                          ajout d'une <a href="{{ event.attachment_details.url|absurl }}" target="_blank" rel="noopener">pièce jointe</a> par {{ event.display_user }}
                        {% endif %}

                        
                      {% elif event.event_type == 'update' %}
                        {% if event.object_type == 'feature' %}
                          mis à jour par {{ event.display_user }}
                        {% elif event.object_type == 'attachment' %}
                          mise à jour d'une <a href="{{ event.attachment_details.url|absurl }}" target="_blank" rel="noopener">pièce jointe</a> par {{ event.display_user }}
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
  <hr style="width:100%;height:1px;background:#ccc;border:0;margin:1.2em,0">
  <span style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous êtes abonné(e) à l'outil {{ APPLICATION_NAME }}</p>
  </span>
</body>
</html>
