<span style="color:rgb(64, 64, 64)">
  Bonjour,<br><br>
  <br>
  <p>Vous recevez ce message automatique en tant que modérateur du projet {{ application_name }} {{ feature.project.title|title }}.</p>
  <p>Nous vous signalons que le signalement suivant est mis attente de publication par {{ event_initiator.get_full_name|default:event_initiator.username }},</p>
  <p>Vous pouvez confirmer sa publication en passant son statut de « en attente de publication » à « publié ».</p>
  <br>
  <p>Lien direct vers le signalement : <a
    href="{{ url_feature }}">
      {{ feature.title }}
    </a>
  </p>
  <br>
  <span style="font-family:verdana,geneva,sans-serif; font-size:11px">
    -- Ce message a été automatiquement envoyé par l'outil {{ application_name }} de {{ application_abstract }}.
  </span>
</span>