{% load app_filters %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta charset="UTF-8">
<title>Notification de publication d'un document clé</title>
</head>
<body>
  {% if message %}
    {{ message }}
  {% else %}
    Bonjour,<br>
    Un document clé a été publié dans un des projets que vous suivez&nbsp;:
  {% endif%}
  <br>
  <ul>
    {% for event in events_data %}
    <li>
      {% if event.event_type == 'create' %}
        {{ event.created_on }} - <a href="{{ event.related_feature.feature_url|add:'/attachment-preview/?file='|absurl }}{{ event.attachment_details.url|absurl|urlencode }}" target="_blank" rel="noopener">"{{ event.attachment_details.title }}"</a>
        - Document clé publié par {{ event.display_user }}
      {% elif event.event_type == 'update' %}
        {{ event.created_on }} - Document clé mis à jour par {{ event.display_user }}
        <a href="{{ event.related_feature.feature_url|add:'/attachment-preview/?file='|absurl }}{{ event.attachment_details.url|absurl|urlencode }}" target="_blank" rel="noopener">"{{ event.attachment_details.title }}"</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <hr style="width:100%;height:1px;background:#ccc;border:0;margin:1.2em,0">
  <footer style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous êtes abonné(e) à l'outil {{ APPLICATION_NAME }}</p>
  </footer>
</body>
</html>
