<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta charset="UTF-8">
<title>Notification de publication d'un document clé</title>
</head>
<body>
  <p>{% if message %}{{ message }}{% else %}Notification de publication de document clé:{% endif %}</p>

  <ul>
    {% for event in stacked_event.stack_data.events %}
    <li>
      <!-- Check for attachments related to a comment -->
      {% if event.related_comment.attachments %}
        {% for att in event.related_comment.attachments %}
          <a href="{{ att.url|absurl }}" target="_blank" rel="noopener">{{ att.title }}</a>
        {% endfor %}
      {% elif event.object_type == 'attachment' %}
        <!-- Display info if the event is about an attachment being added -->
        {{ event.created_on }} - Pièce-jointe ajoutée par {{ event.display_user }}
      {% elif event.event_type == 'update' and event.object_type == 'attachment' %}
        <!-- Update info about an attachment -->
        Pièce-jointe mise à jour par {{ event.display_user }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <hr style="width:100%;height:1px;background:#ccc;border:none;margin:1.2em 0;">
  <footer style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous êtes abonné(e) à l'outil {{ APPLICATION_NAME }}.</p>
  </footer>
</body>
</html>
