<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta content="text/html; charset=UTF-8">
<title>Notifications</title>
</head>
<body>
  {% if message %}
    {{ message }}
  {% else %}
    La publication du signalement <a href="{{ url_feature }}">{{ feature.title|title }} </a> a été confirmée par un modérateur du projet {{ feature.project.title|title }} le {{ event.created_on }}
  {% endif%}
  <hr style="width:100%;height:1px;background:#ccc;border:0;margin:1.2em">
  <span class="footer" style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous êtes le créateur du signalement {{ feature.title|title }}</p>
  </span>
</body>
</html>
