{% extends "collab/layout_menu.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="project_header">
<div class="project_title"><h2 class="ui header">{{project.title|title }}</h2></div>
<div  class="edit_object"><i id="modify_project" class="orange big edit icon"></i><i class="green big save icon"></i></div>
</div>

<div id="detail">
    <table class="ui very basic table">
        <tbody>
        {% for key,val in data.items %}

            {% if key not in 'slug' %}
                <tr>
                    <td><strong>{{key|feature_key_display}}</strong></td>
                    {% if val %}
                        {%  if key == 'illustration' %}
                            {{val.url}}
                            <td> <img  class="ui small image" src="{{project.illustration.url}}" height="100"></td>
                        {%  elif val == True %}
                            <td><i class="green check icon"></i></td>
                        {% elif val == False %}
                            <td><i class="inverted red remove icon"></i></td>
                        {% elif key == 'délai_avant_suppression' or key == 'délai_avant_archivage'%}
                            <td>{{val|get_timestamp}}</td>
                        {%else%}
                            <td>{{val|feature_val_display}}</td>
                        {% endif %}
                    {% else %}
                       <td><i class="minus icon"></i></td>
                    {%endif%}
                </tr>
            {%endif%}
        {%endfor%}
        </tbody>
    </table>
</div>
<div id="project_form">
    {% if ajax %}
        {% include 'collab/project_form.html' %}
    {% endif %}
</div>

<script>
// modify type of cursor
var element = document.getElementById("modify_project");
element.style.cursor = "pointer";
    // form project editable
    $("#modify_project").on('click', function(e) {

        url = ''
        $.ajax({
          url: url,
          type: 'GET',
          success: function (data) {
              $('#detail').html("");
              $('#project_form').html(data);
          },
          error: function(err) {
            console.log('Error occured', err);
          }
        });

    });

</script >
{% endblock %}
