{% load static %}
{% load app_filters %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- jQuery Core 3.3.1 -->
  <script src="{% static 'collab/resources/jquery-3.3.1/jquery-3.3.1.min.js'%}"></script>
  <!-- Semantic UI -->
  <link rel="stylesheet" href="{% static 'collab/resources/semantic-ui-2.4.2/semantic.min.css' %}" />
  <script src="{% static 'collab/resources/semantic-ui-2.4.2/semantic.min.js' %}"></script>
  <script src="{% static 'collab/js/project.js' %}"></script>

  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'collab/resources/DataTables-1.10.18/datatables.min.css' %}" />
  <script src="{% static 'collab/resources/DataTables-1.10.18/datatables.min.js' %}"></script>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
  <!-- Leaflet Draw -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha256-XzD3RpaHPv7lzX9qt+2n1j5cWj48O24KsgaGYpKN8x8=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha256-siofc4Uwjlra3YWkwthOn8Uj69cNN4aMug/iOHNiRgs=" crossorigin="anonymous"></script>

  <!-- WellKnown JS -->
  <script src="https://cdn.rawgit.com/mapbox/wellknown/master/wellknown.js"></script>
  <!-- Turf.js -->
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'collab/css/base.css' %}"/>
  <script src="{% static 'collab/js/base.js' %}"></script>
  {% block custom_resources %}
  {% endblock %}

</head>

<body>
  <header>
    <div class="ui container">
      <div class="ui inverted icon menu">
        <a href="{% url 'collab:index' %}" class="header item">
          <img class="ui mini right spaced image" src="{{ LOGO_PATH }}">
          {{ APPLICATION_NAME }}
        </a>
        {% if project %}
          <div class="ui dropdown item">
            {{ project.title }}<br><div class="ui teal horizontal label">{{ USER_LEVEL_PROJECTS|lookup:project.slug }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="{% url 'collab:project' slug=project.slug %}">
                <i class="home icon"></i>Accueil du projet
              </a>
              <a class="item" href="{% url 'collab:feature_list' slug=project.slug %}">
                <i class="list icon"></i>Liste & Carte
              </a>
              <a class="item" href="{% url 'api:project-export' slug=project.slug %}">
                <i class="download icon"></i>Exporter les signalements
              </a>
              <a class="item" href="{% url 'collab:project_members' slug=project.slug %}">
                <i class="map icon"></i>Administration carto
              </a>
              <a class="item" href="{% url 'collab:project_members' slug=project.slug %}">
                <i class="users icon"></i>Gérer les membres
              </a>
            </div>
          </div>
        {% endif %}
        <div class="right menu">
          {% if user.is_authenticated %}
            <a class="item" href="{% url 'collab:my_account' %}">
              {{ user.get_full_name|default:user.username }}
            </a>
            <a class="item" href="{% url 'collab:logout' %}"><i class="ui logout icon"></i></a>
          {% else %}
            <a class="item" href="{% url 'collab:login' %}">Se Connecter</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="ui stackable grid centered container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer>
    <div class="ui compact text menu">
      <a class="item" href="{% url 'collab:legal' %}">Mentions légales</a>
      <a class="item" href="{% url 'collab:help' %}">Aide</a>
    </div>
  </footer>

</body>
</html>
