{% extends "collab/layout_menu.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="ui tabular menu featurelist">
  <div class="active item"  data-tab="liste">Liste</div>
  <div class="item"  data-tab="carte">Carte</div>
</div>

<div class="ui active tab" data-tab="liste">
{% if feature_list %}
  {% for key,val in feature_list.items %}
     <h2 class="ui header">
       <!-- <img src="{{project.icons_URL}}" class="ui circular image"> -->
       {{key|upper}}
     </h2>
     {% if val %}
        <table id="" class="display" style="width:100%">
          <thead>
              <tr>
                 {% for head in val|first %}
                     {% if head not in 'id,user_id,project_id,feature_id' %}
                          <th>{{head|upper}}</th>
                     {% endif %}
                 {% endfor %}
               </tr>
          </thead>
          <tbody>
              {% for feature in val %}
                  <tr>
                    {% for feature_key, feature_val in feature.items %}
                        {% if feature_key not in 'id,user_id,project_id,feature_id' %}
                          {%  if feature_val %}
                             <td>{{feature_val}}</td>
                          {% else %}
                             <td><i class="inverted red remove icon"></td>
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
        </table>
     {% else %}
       <h3 class="ui header">
            Aucun signalement n'a été créé pour cette application
        </h3>
     {% endif %}
     <br><br>
  {% endfor %}
{% else %}
   <h3 class="ui header">
       Aucun signalement n'a été créé pour cette application
   </h3>
{% endif %}
</div>

<div class="ui tab" data-tab="carte">
  <p></p>
  <p></p>
</div>

{% load staticfiles %}
 <script src="{% static 'collab/js/tables.js' %}"></script>
{% endblock %}
