{% extends "collab/layout.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="ui top aligned stackable grid container">
    <div class="top aligned row">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <a class="active item">
                    Description
                </a>
                <a class="item">
                    Comment contribuer
                </a>
                <a class="item">
                    FAQ
                </a>
            </div>
        </div>

        <div class="ten wide column">

            <h2 class="ui center aligned icon header">
                <div class="content">
                    Collab
                    <div class="sub header">L'espace de production et de qualification collaboratif de Géo2France</div>
                </div>
            </h2>

            <h3 class="ui header">Pourquoi&nbsp;?</h3>
            <p>Collab vise à développer la production et la qualification de jeux de données de manière collaborative au
                sein du partenariat Géo2France. Cet outil a été conçu pour deux usages principaux&nbsp;:</p>
            <ul>
                <li>Signaler des imprécisions et anomalies dans des jeux de données existants dans le but de les
                    améliorer. Cet usage peut être mis en place dans différents cas de figure, aussi bien lors
                    d'une phase de recette d'une production confiée à un prestataire (base d'occupation du sol,
                    ortho-photographies par exemple) qu'une production en continue menée par des acteurs publics.
                </li>
                <li>Co-construire une base de données collaborative et participative. Typiquement, il peut s'agir de la
                    localisation d'équipements publics, des travaux nécessitant une publication selon l'article L49 du Code des postes et des
                    communications électroniques, des travaux nécessitant la réalisation de nouvelles prises de vue
                    aériennes pour la mise à jour du PCRS.
                </li>
            </ul>

            <h3 class="ui header">Les principes de bases</h3>
            <p>Chaque base de données collaborative est représentée dans Collab par un projet&nbsp;:</p>
            <ul>
                <li>Chaque projet est associé à un type de signalement particulier : attributs et valeurs spécifiques
                    définis par son administrateur.
                </li>
                <li>Chaque projet dispose de ses propres utilisateurs. Charge aux administrateurs des projets de donner
                    le niveau d'autorisation adapté à chaque utilisateur : utilisateur connecté, contributeur,
                    modérateur ou administrateur.
                </li>
                <li>Chaque projet peut disposer de ses propres règles de visibilité et d'administration des
                    données&nbsp;: un niveau minimum d'autorisation peut être exigé pour accéder aux informations de
                    certaines applications et les signalements qu'elles recueillent peuvent nécessiter la validation
                    d'un modérateur.
                </li>
                <li>Chaque projet constitue un ensemble de signalements créés par ses contributeurs. Les signalements
                    ont été conçus de manière similaire aux tickets/issues des outils classiques de gestion de projet
                    comme Redmine et Github&nbsp;: ils font l'objet d'un statut, peuvent être largement commentés
                    jusqu'à ce qu'ils fassent l'objet d'une validation ou d'un traitement complet. Ces commentaires sont
                    au cœur du fonctionnement de Collab en proposant une interface d'échange favorisant la qualification
                    et l'amélioration des données.
                </li>
            </ul>


            <h3 class="ui header">Comment contribuer&nbsp;?</h3>
            <p>Pour contribuer vous devez disposer d'un compte nominatif sur la plateforme. Si vous n'en avez pas
                encore faites-en la demande. Vous devrez ensuite via la page d'accueil des projets qui vous intéressent
                faire la demande d'un niveau d'autorisation adapté à votre besoin. Les administrateurs des projets en
                question valideront vos demandes ou vous contacteront pour clarifier votre besoin.
            </p>

        </div>
    </div>
</div>
{% endblock %}