{% extends "collab/base.html" %}

{% load static %}
{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="fourteen wide column">
  <img class="ui centered small image" src="{{ LOGO_PATH }}">
  <h2 class="ui center aligned icon header">
    <div class="content">
      {{ APPLICATION_NAME }}
      <div class="sub header">{{ APPLICATION_ABSTRACT }}</div>
    </div>
  </h2>

  <h4 id="les_projets" class="ui horizontal divider header">PROJETS</h4>
  <div class="ui divided items">
    {% for project in projects %}
    <div class="item">
      <div class="ui tiny image">
        <img src="{{ project.thumbnail }}">
      </div>
      <div class="middle aligned content">
        <a class="header" href="{% url 'collab:project' slug=project.slug %}">{{ project.title }}</a>
        <div class="description">
          <p>{{ project.description }}</p>
        </div>
        <div class="meta">
          <span class="right floated">
            {% if project.moderation %}<strong>Projet modéré</strong>{% else %}<strong>Projet non modéré</strong>{% endif %}
          </span>
          <span>Niveau d'autorisation requis : {{ project.access_level_pub_feature }}</span><br>
          <span>
            Mon niveau d'autorisation :
            {{ USER_LEVEL_PROJECTS|lookup:project.slug }}
            {% if user.is_administrator == True %} + Gestionnaire métier{% endif %}
          </span>

        </div>
        <div class="meta">
          <span class="right floated">
            <i class="calendar icon"></i>&nbsp; {{ project.created_on }}
          </span>
          <span data-tooltip="Membres">
            {{ project.nb_contributors }}&nbsp;<i class="user icon"></i>
          </span>
          <span data-tooltip="Signalements">
            {{ project.nb_features }}&nbsp;<i class="map marker icon"></i>
          </span>
          <span data-tooltip="Commentaires">
            {{ project.nb_comments }}&nbsp;<i class="comment icon"></i>
          </span>
        </div>
      </div>
    </div>
    {% empty %}
    <span>Vous n'avez accès à aucun projet.</span>
    {% endfor %}
    <div class="item">
    </div>
  </div>

  {% if can_create_project %}
  <a class="ui green basic button" href="{% url 'collab:project_create' %}">
    <i class="plus icon"></i> Créer un nouveau projet
  </a>
  {% endif %}

</div>
{% endblock %}
