{% extends "collab/base.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="ui top aligned stackable grid container">
    <div class="top aligned row">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <a href="#profil" class="item">
                    Mon profil
                </a>
                <a  href="#projets" class="item">
                    Mes projets
                </a>
                <a href="#notifications"  class="item">
                    Notifications reçues
                </a>
                <a href="#signalements" class="item">
                    Mes signalements
                </a>
                <a href="#commentaires" class="item">
                    Mes commentaires
                </a>
            </div>
        </div>

        <div class="twelve wide column">
            <h4 id="profil_utilisateur" class="ui horizontal divider header">
                <a name="profil"></a>
                <i class="user icon"></i>
                Mon profil
            </h4>
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td class="five wide column">Nom d'utilisateur</td>
                        {% if user.username %}
                            <td>{{user.username}}</td>
                        {% else %}
                            <td><i class="window minimize icon"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Nom complet</td>
                        {% if user.get_full_name %}
                            <td>{{user.get_full_name}}</td>
                        {% else %}
                            <td><i class="window minimize icon"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        {% if user.email %}
                            <td>{{user.email}}</td>
                        {% else %}
                            <td><i class="window minimize icon"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Administrateur</td>
                        {% if user.is_superuser %}
                            <td>Oui</td>
                        {% else %}
                            <td>Non</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <!--div class="ui grid">
                <div class="right floated right aligned four wide column">
                    <div class="ui primary button"><i class="icon edit"></i>Modifier</div>
                </div>
            </div-->
            <!--h4 class="ui horizontal divider header">
                <i class="power off icon"></i>
                Delete your account
            </h4>
            <div class="ui grid">
                <div class="left floated twelve wide column">
                    <p>Clicking this button will launch the process for your account deletion.
                        <br>An e-mail asking for confirmation will be sent to you.</p>
                </div>
                <div class="right floated right aligned four wide column">
                    <div class="ui negative button"><i class="power off icon"></i>Delete my account</div>
                </div>
            </div-->


            <h4 id="mes_projets" class="ui horizontal divider header">
                <a name="projets"></a>
                <i class="users icon"></i>
                Mes projets
            </h4>
            <div class="ui divided items">
                {% for project in projects %}
                    {% if permissions|lookup:project.slug %}
                        <div class="item">
                        <div class="ui tiny image">
                            {% if project.illustration %}
                              <img  class="ui small image" src="{{project.illustration.url}}" height="200">
                            {% endif %}
                        </div>
                        <div class="middle aligned content">
                            <a class="header" href="{% url 'collab:project' slug=project.slug %}">{{project.title|title }}</a>
                            <div class="description">
                                  <p>{{project.description}}</p>
                            </div>
                            <div class="meta">
                                <span class="right floated">{% if project.moderation%}Projet modéré {% else %} Projet non modéré {% endif %}</span>
                                <span>Mon niveau d'autorisation&nbsp;:
                                    {% if user.is_superuser %}
                                      <p>SuperAdmin</p>
                                    {% else %}
                                      <p>Pouet</p>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="meta">
                                <span class="right floated" data-tooltip="Projet créé le {{project.created_on|date:'d/m/Y'}}">
                                    <i class="calendar icon"></i>&nbsp;{{project.created_on|date:'d/m/Y'}}
                                </span>
                                <span data-tooltip="Nombre de personnes ont contribué à ce projet">
                                    {{ project.nb_contributors }}&nbsp;<i class="user icon"></i>
                                </span>
                                <span data-tooltip="Nombre de signalements ont été créés pour ce projet">
                                    &nbsp;{{ project.nb_features }}&nbsp;<i class="map marker icon"></i>
                                </span>
                                <span data-tooltip="Nombre de commentaires ont été créés pour ce projet">
                                    &nbsp;{{ project.nb_comments }}&nbsp;<i class="comment icon"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}
            </div>

            <h4 id="dernieres_notifications" class="ui horizontal divider header">
                <a name="notifications"></a>
                <i class="bullhorn icon"></i>
                Dernières notifications reçues
            </h4>
            <div class="ui list">
                <div class="item">
                    <i class="comment icon"></i>
                    <div class="content">
                        <a class="header">
                            10/03/2019 - 9:25 - Projet - Auteur [Commentaire ajouté]</a>
                        <div class="description">Titre du signalement</div>
                        <div class="description">Début du texte du commentaire</div>
                    </div>
                </div>
            </div>

            <h4 id="mes_derniers_signalements" class="ui horizontal divider header">
                <a name="signalements"></a>
                <i class="map marker alternate icon"></i>
                Mes derniers signalements
            </h4>
            <div class="ui list">
                {% for feature in features %}
                    <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                            <a  href="{% url 'collab:feature_detail' slug=feature.project.slug feature_type_slug=feature.feature_type_slug  feature_id=feature.feature_id %}" class="header">{{feature.project}} - {{feature.title}}</a>
                            <div class="description">{{feature.description|slice:":150"}}</div>
                            <div class="description">Date de dernière modification&nbsp;: {{feature.updated_on}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h4 id="mes_derniers_commentaires" class="ui horizontal divider header">
                <a name="commentaires"></a>
                <i class="comments icon"></i>
                Mes derniers commentaires
            </h4>
            <div class="ui list">
                {% for elt in last_comment %}
                    <div class="item">
                        <i class="comment icon"></i>
                        <div class="content">
                            <a   href="{% url 'collab:feature_detail' slug=elt.project.slug feature_type_slug=elt.feature_type_slug  feature_id=elt.feature_id %}" > {{elt.project.title}} - {{elt.feature_slug}}</a>
                            <div class="description">{{elt.comment|slice:":150"}}</div>
                            <div class="description">Date du commentaire&nbsp;: {{elt.creation_date}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
