{% extends "collab/base.html" %}

{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="fourteen wide column">
  <h1>Mon compte</h1>
</div>

<div class="row">
  <div class="five wide column">
    <h4 class="ui horizontal divider header">PROFIL</h4>
    <div class="ui divided list">
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.username %}{{user.username}}{% endif %}</div>
        </div>
        <div class="content">Nom d'utilisateur</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.get_full_name %}{{user.get_full_name}}{% endif %}</div>
        </div>
        <div class="content">Nom complet</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.email %}{{user.email}}{% endif %}</div>
        </div>
        <div class="content">Adresse e-mail</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.is_superuser %}Oui{% else %}Non{% endif %}</div>
        </div>
        <div class="content">Administrateur</div>
      </div>
    </div>
  </div>

  <div class="nine wide column">
    <h4 class="ui horizontal divider header">MES PROJETS</h4>

    <div class="ui divided items">
      {% for project in projects %}
        {% if permissions|lookup:project.slug %}
          <div class="item">
          <div class="ui tiny image">
            {% if project.thumbnail %}
              <img class="ui small image" src="{{ project.thumbnail }}" height="200">
            {% endif %}
          </div>
          <div class="middle aligned content">
            <a class="header" href="{% url 'collab:project' slug=project.slug %}">
              {{ project.title|title }}
            </a>
            <div class="description">
              <p>{{ project.description }}</p>
            </div>
            <div class="meta">
              <span class="right floated">{% if project.moderation%}Projet modéré {% else %} Projet non modéré {% endif %}</span>
              <span>Niveau d'autorisation requis : {{ project.access_level_pub_feature }}</span><br>
              <span>
                Mon niveau d'autorisation :
                {{ USER_LEVEL_PROJECTS|lookup:project.slug }}
                {% if user.is_administrator == True %} + Gestionnaire métier{% endif %}
              </span>
            </div>
            <div class="meta">
              <span class="right floated" data-tooltip="Projet créé le {{ project.created_on }}">
                <i class="calendar icon"></i>&nbsp;{{ project.created_on }}
              </span>
              <span data-tooltip="{{ project.nb_contributors}} personnes ont contribué à ce projet">
                {{ project.nb_contributors }}&nbsp;<i class="user icon"></i>
              </span>
              <span data-tooltip="{{ project.nb_published_features }} signalements ont été créés pour ce projet">
                {{ project.nb_published_features }}&nbsp;<i class="map marker icon"></i>
              </span>
              <span data-tooltip="{{ project.nb_published_features_comments }} commentaires ont été créés pour ce projet">
                {{ project.nb_published_features_comments }}&nbsp;<i class="comment icon"></i>
              </span>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="fourteen wide column">
    <div class="ui three stackable cards">
      <div class="red card">
        <div class="content">
          <div class="center aligned header">Mes dernières notifications reçues</div>
          <div class="center aligned description">
            <div class="ui relaxed list">
              {% for item in events %}
                <div class="item">
                  <div class="content">
                    <div>
                      {% if item.event_type == 'create' %}
                        {% if item.object_type == 'feature' %}
                          <a href="{{ item.related_feature.feature_url }}">
                            Signalement créé
                          </a>
                        {% elif item.object_type == 'comment' %}
                          <a href="{{ item.related_feature.feature_url }}">
                            Commentaire créé
                          </a>
                        {% elif item.object_type == 'attachment' %}
                          <a href="{{ item.related_feature.feature_url }}">
                            Pièce jointe ajoutée
                          </a>
                        {% elif item.object_type == 'project' %}
                          <a href="{{ item.project_url }}">
                            Projet créé
                          </a>
                        {% endif %}
                      {% elif item.event_type == 'update' %}
                        {% if item.object_type == 'feature' %}
                          <a href="{{ item.related_feature.project_url }}">
                            Signalement mis à jour
                          </a>
                        {% elif item.object_type == 'project' %}
                          <a href="{{ item.project_url }}">
                            Projet mis à jour
                          </a>
                        {% endif %}
                      {% elif item.event_type == 'delete' %}
                        {% if item.object_type == 'feature' %}
                            Signalement supprimé ({{ item.data.feature_title }})
                        {% endif %}
                      {% else %}
                        <i>Événement inconnu</i>
                      {% endif %}
                    </div>
                    <div class="description">
                      <i>[ {{ item.created_on }}{% if user.is_authenticated %}, par {{ item.user.full_name }}{% endif %} ]</i>
                    </div>
                  </div>
                </div>
              {% empty %}
                <i>Aucune notification pour le moment.</i>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="orange card">
        <div class="content">
          <div class="center aligned header">Mes derniers signalements</div>
          <div class="center aligned description">
            <div class="ui relaxed list">
              {% for item in features %}
                <div class="item">
                  <div class="content">
                    <div>
                      {% if item.related_feature %}
                        <a href="{{ item.related_feature.feature_url }}">{{ item.related_feature.title }}</a>
                      {% else %}
                        {{ item.data.feature_title }} (supprimé)
                      {% endif %}
                    </div>
                    <div class="description">
                      <i>[ {{ item.created_on }}{% if user.is_authenticated %}, par {{ item.user.full_name }}{% endif %} ]</i>
                    </div>
                  </div>
                </div>
              {% empty %}
                <i>Aucun signalement pour le moment.</i>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="yellow card">
        <div class="content">
          <div class="center aligned header">Mes derniers commentaires</div>
          <div class="center aligned description">
            <div class="ui relaxed list">
              {% for item in comments %}
                <div class="item">
                  <div class="content">
                    <div>
                      <a href="{{ item.related_feature.feature_url }}">"{{ item.related_comment.comment }}"</a>
                    </div>
                    <div class="description">
                      <i>[ {{ item.created_on }}{% if user.is_authenticated %}, par {{ item.user.full_name }}{% endif %} ]</i>
                    </div>
                  </div>
                </div>
              {% empty %}
                <i>Aucun commentaire pour le moment.</i>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
