{% extends "collab/base.html" %}

{% load app_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="fourteen wide column">
  <h1>Mon compte</h1>
</div>

<div class="row">
  <div class="five wide column">
    <h4 class="ui horizontal divider header">PROFIL</h4>
    <div class="ui divided list">
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.username %}{{user.username}}{% endif %}</div>
        </div>
        <div class="content">Nom d'utilisateur</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.get_full_name %}{{user.get_full_name}}{% endif %}</div>
        </div>
        <div class="content">Nom complet</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.email %}{{user.email}}{% endif %}</div>
        </div>
        <div class="content">Adresse e-mail</div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="description">{% if user.is_superuser %}Oui{% else %}Non{% endif %}</div>
        </div>
        <div class="content">Administrateur</div>
      </div>
    </div>
  </div>

  <div class="nine wide column">
    <h4 class="ui horizontal divider header">MES PROJETS</h4>

    <div class="ui divided items">
      {% for project in projects %}
        {% if permissions|lookup:project.slug %}
          <div class="item">
          <div class="ui tiny image">
            {% if project.thumbnail %}
              <img class="ui small image" src="{{ project.thumbnail }}" height="200">
            {% endif %}
          </div>
          <div class="middle aligned content">
            <a class="header" href="{% url 'collab:project' slug=project.slug %}">{{ project.title|title }}</a>
            <div class="description">
              <p>{{ project.description }}</p>
            </div>
            <div class="meta">
              <span class="right floated">{% if project.moderation%}Projet modéré {% else %} Projet non modéré {% endif %}</span>
              <span>Mon niveau d'autorisation : {{ rank|lookup:project.slug }}</span>
            </div>
            <div class="meta">
              <span class="right floated" data-tooltip="Projet créé le {{ project.created_on }}">
                <i class="calendar icon"></i>&nbsp;{{ project.created_on }}
              </span>
              <span data-tooltip="{{ project.nb_contributors}} personnes ont contribué à ce projet">
                {{ project.nb_contributors }}&nbsp;<i class="user icon"></i>
              </span>
              <span data-tooltip="{{ project.nb_features }} signalements ont été créés pour ce projet">
                {{ project.nb_features }}&nbsp;<i class="map marker icon"></i>
              </span>
              <span data-tooltip="{{ project.nb_comments }} commentaires ont été créés pour ce projet">
                {{ project.nb_comments }}&nbsp;<i class="comment icon"></i>
              </span>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="fourteen wide column">
    <div class="ui three stackable cards">
      <div class="red card">
        <div class="content">
          <div class="center aligned header">Mes dernières notifications reçues</div>
          <div class="center aligned description">
            {% for item in last_notifs %}
              <p>
                <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=item.feature_type.slug feature_id=item.feature_id  %}">{{ item.title }}</a>
              </p>
            {% empty %}
              <i>Aucune notification pour le moment.</i>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="orange card">
        <div class="content">
          <div class="center aligned header">Mes derniers signalements</div>
          <div class="center aligned description">
            {% for item in last_features %}
              <p>
                <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=item.feature_type.slug feature_id=item.feature_id  %}">{{ item.title }}</a>
              </p>
            {% empty %}
              <i>Aucun signalement pour le moment.</i>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="yellow card">
        <div class="content">
          <div class="center aligned header">Mes derniers commentaires</div>
          <div class="center aligned description">
            <div class="ui relaxed list">
              {% for comm in last_comments %}
                <div class="item">
                  <div class="content">
                    <div>"{{ elt.comment }}"</div>
                    <div class="description">
                      <i>[
                        {{ elt.created_on|date:"d/m/Y" }}
                      {% if user.is_authenticated %}
                        , par {{ elt.author__first_name|title }} {{ elt.author__last_name }}
                      {% endif %}
                      ]</i>
                    </div>
                  </div>
                </div>
              {% empty %}
                <i>Aucun commentaire pour le moment.</i>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
