{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'signalement/css/site.css' %}" />
        <!-- jQuery Core 3.3.1 -->
        <script src="{% static 'signalement/resources/jquery-3.3.1/jquery-3.3.1.min.js'%}"></script>
        <!-- Semantic UI -->
        <link rel="stylesheet" href="{% static 'signalement/resources/semantic-ui-2.3.1/semantic.min.css' %}"/>
        <script src="{% static 'signalement/resources/semantic-ui-2.3.1/semantic.min.js' %}"></script>
    </head>

    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="{% url 'index' %}" class="header item">
                    <img id="menu-logo" class="logo" src="{% static 'signalement/img/logo.png' %}">
                    Collab{% if project %}&nbsp;- {{project.title}}{% endif %}
                </a>
                <div class="right menu">
                    <a href="{% url 'help' %}" class="item">Aide</a>
                    <a href="{% url 'my_account' %}" class="item">Mon compte</a>
                    <a href="" class="item">Se déconnecter</a>
                </div>
            </div>
        </div>

        <div class="ui main container">
            {% block content %}
            {% endblock %}
        </div>
            
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="{% url 'legal' %}">Mentions légales</a>
                </div>
            </div>
        </div>
    </body>
</html>
