GEOCONTRIB_URL = ''
ADMIN_URL = ''
SUPERUSERNAME = ''
SUPERUSERPASSWORD = ''
SUPERUSERDISPLAYNAME = ''

# VARIABLE FOR SSO KEYCLOAK
SSO_KEYCLOAK_URL='http://localhost:8080/'
SSO_KEYCLOAK_CLIENT_ID='django-app'
SSO_KEYCLOAK_CLIENT_SECRET='Bb1Sk2rO0d7w4Dcx7OkqHuM87ibkjWyA'

SSO_KEYCLOAK_DISCOVERY_ENDPOINT='http://localhost:8080/realms/master/.well-known/openid-configuration'
SSO_KEYCLOAK_AUTHORIZATION_ENDPOINT='http://localhost:8080/realms/master/protocol/openid-connect/auth'
SSO_KEYCLOAK_TOKEN_ENDPOINT='http://localhost:8080/realms/master/protocol/openid-connect/token'
SSO_KEYCLOAK_USER_ENDPOINT='http://localhost:8080/realms/master/protocol/openid-connect/userinfo'
SSO_KEYCLOAK_JWKS_ENDPOINT='http://localhost:8080/realms/master/protocol/openid-connect/certs'

# VARIABLE FOR LDAP SERVER
LDAP_SERVER_URI='ldap://localhost:10389'
LDAP_BASE_DN='ou=system'
LDAP_BIND_DN_TEMPLATE='uid={},ou=system'