# bug dans nouvelles version de importlib-metadata
importlib-metadata<5.0
celery<5.3.0
Django>=3.2.0,<3.3.0
djangorestframework-gis==0.18
djangorestframework>=3.11.2,<3.12.0
# waiting https://github.com/corteva/djangorestframework-mvt/issues/10 to be merged
git+https://github.com/neogeo-technologies/djangorestframework-mvt.git@138a09f092c04247f3f9dfc4546e5dad5d04ccc6#egg=djangorestframework-mvt
#djangorestframework-mvt>=0.2.5,<0.3.0
drf-yasg==1.21.5
ldap3==2.6.1
Pillow==9.5
psycopg2-binary==2.9.3 #Use binary for windows
python-decouple==3.3
python-magic==0.4.24
redis==3.5.3
requests
django-admin-list-filter-dropdown
django-cas-ng
django-celery-beat<2.3.0
defusedxml==0.7.1
djangorestframework-xml==2.0.0