blessings==1.7
bpython==0.17.1
certifi==2019.3.9
chardet==3.0.4
curtsies==0.3.0
Django==2.2
django-extensions==2.1.6
greenlet==0.4.15
idna==2.8
Pillow==5.4.1
psycopg2==2.7.7 --no-binary :all:
Pygments==2.3.1
pytz==2018.9
requests==2.21.0
six==1.12.0
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
