{% load i18n admin_urls static admin_modify %}

<div class="tabular inline-related last-related">


<fieldset class="module aligned">
  <h2>{{ formset_title }}</h2>
  {{ formset.management_form }}
  {{ formset.non_form_errors.as_ul }}
  <table>
    {% for form in formset %}
      {% if forloop.first %}
      <thead>
        <tr>
          {% for field in form.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
          {% endfor %}
          {% if formset.can_delete %}
          <th>Supprimer</th>
          {% endif %}
        </tr>
      </thead>
      {% endif %}
    {% endfor %}
    <tbody id="{{ formset.prefix }}-TBODY">
      {% for form in formset %}
      <tr id="{{ formset.prefix }}-{{ forloop.counter0 }}-ROW">
        {# On inclus le champs caché DELETE #}
        {% for hidden in form.hidden_fields %}
        <td style="display: none">{{ hidden }}</td>
        {% endfor %}
        {% for field in form.visible_fields %}
        <td>
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
        {% endfor %}
        {% if formset.can_delete %}
          <td>
            <a class="remove-row" id="{{ formset.prefix }}-{{ forloop.counter0 }}-REM" title="Supprimer">
              <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Supprimer">
            </a>
          </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <div class="{{ formset.prefix }}__hidden" style="display: none">
    <table>
      <tbody id="{{ formset.prefix }}-EMPTY_TBODY">
        <tr id="{{ formset.prefix }}-__prefix__-ROW">
          {# On inclus le champs caché DELETE #}
          {% for hidden in formset.empty_form.hidden_fields %}
          <td style="display: none">{{ hidden }}</td>
          {% endfor %}
          {% for field in formset.empty_form.visible_fields %}
          <td>{{ field.errors.as_ul }}{{ field }}</td>
          {% endfor %}
          {% if formset.can_delete %}
          <td>
            <a class="remove-row" id="{{ formset.prefix }}-__prefix__-REM" title="Supprimer">
              <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Supprimer">
            </a>
          </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
  {% if formset.can_delete %}
  <div class="{{ formset.prefix }}__bottom_buttons">
    <a class="add_button" title="Ajouter" data-related-fieldset="{{ formset.prefix }}">
      <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Ajouter">
    </a>
  </div>
  {% endif %}
</fieldset>
</div>
