/* ---------------------------------- */
            /* HEADER */
/* ---------------------------------- */

header {
  background: #373636;
}

main {
  padding: 2em 0em;
}


/* ---------------------------------- */
            /* MAIN */
/* ---------------------------------- */

a.button-hover-orange:hover {
  background: #fbbd08 !important;
}
a.button-hover-green:hover {
  background: #21ba45 !important;
}
a.button-hover-red:hover {
  background: #ee2e24 !important;
}

.ui.header .content {
  width: 100%;
}

.ui.horizontal.divider {
  color: #1ab2b6!important;
  padding-top: 1.5em;
}

.delete-hidden-field {
  display: none;
}


/* ---------------------------------- */
            /* FOOTER */
/* ---------------------------------- */
footer {
  background-color: #464646;
  text-align: center;
}

footer .ui.text.menu .item {
  color: #ffffff;
  padding: 5px 14px;
}

footer .ui.text.menu a.item:hover {
  color: #1ab2b6;
}

footer .ui.text.menu .item:not(:first-child) {
    border-left: 1px solid rgba(34,36,38,.15);
}
