.ui.stacked.secondary.segment:after{
    border-top: none;
}

body {
    background-color: #FFFFFF;
    height:auto;
}

img#menu-logo.logo {
    margin-right: 0.5em;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 4em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.wireframe {
    margin-top: 2em;
}
/*
.ui.footer.segment {
    margin: 1em 0em 0em;
    padding: 1em 0em;
}*/
footer{
  /*height:55px;
  margin-top: 50px;*/
}
.ui.bottom.menu.footer .container {
    align-items: center;
    justify-content: center;

}
.equal-width .label{
    min-width: 8em;
}
/*disabled link */
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
#maplist {
    background: #f8f4f0;
    height:400px;
    width:100%;
 }

 #mapdetail {
     background: #f8f4f0;
     height:400px;
     width:100%;
     margin: 10px 0px 10px 0px;
  }

 .featuremap{
    margin: 20px 0 100px 0;
 }

/*add feature form*/
.ui.form,
.ui.checkbox label,
.ui.form .field>label
{
  font-size: 1.0em;
  font-weight: bold;
}
#mapfeature {
    background: #f8f4f0;
    height:350px;
    width:350px;
    float:left;
    margin:20px 0 30px 0;
 }

.add_feature.ui.form,
.modify_feature.ui.form,
.add_project.ui.form{
  width:60%;
  float:left;
}
.modify_feature.ui.form{
  margin: 10px 0px 10px 0px;
}

.add_feature.ui.form .field label{
  float:left;
  font-weight: bold;
  margin-bottom: 10px;
}

/*add feature model css*/
.addfeaturemodel{
  margin-top:20px;
  float:left;
}
#dynamicInput{
  margin-top: 10px;
}
#title_addfeature{
  font-weight: bold;
}

/*add feature comment css*/
.comment .actions{
  float:right;
  margin-bottom:10px;
}

.ui.celled.table #addcomment{
  float:right;
}

#addcomment{
  margin: 10px 0px 10px 0px;
}
#addattachment{
  margin: 10px 0px 10px 0px;
}
.comment_title{
  color:gray;
}
/* edit object */
.project_title{
 float: left;
}
#modify_feature.orange.big.edit.icon,
#modify_project.orange.big.edit.icon{
 float: right;
}
.project_header{
  padding-bottom: 30px;
  padding-top: 20px;
}

/*save project and project modification*/
#save_project, #modify_feature{
  width:80%
}
#btn_project_save, #btn_project_edit,
#btn_feature_edit, #btn_feature_save,
#btn_feature_delete{
  float: right;
}

.textarea {
    white-space: pre-wrap;
}

/* atatchment */
.drop-area {
  width: auto;
  height: auto;
  background: #f5f5f5;
  border: 2px dashed #cccccc;
  border-radius: 5px;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 10px;
}

.drop-area label {
  cursor: pointer !important;
  color: #106eab !important;
  font-weight: bold !important;
}
.drop-area label:hover {
  color: #0c5584 !important;
}

.drop-area .input-file {
  display: none;
}

.drop-area .attachment_filename {
  margin: 20px 15px 0px 15px;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  font-style: italic;
  font-size: 12px;
}

/*attachment */

.ui.card>.image>img{
  display: block;
  width: 100px;
  height:100px;
}


/* modal delete feature */
.delete_actions{
  display: flex;
}
