{
    "BASE_URL": "/geocontrib/",
    "DOMAIN": "/geocontrib/",
    "VUE_APP_LOCALE": "fr-FR",
    "VUE_APP_APPLICATION_NAME": "{{ VUE_APP_APPLICATION_NAME|default("GéoContrib", true) }}",
    "VUE_APP_APPLICATION_ABSTRACT": "{{ VUE_APP_APPLICATION_ABSTRACT|default("Application de saisie d'informations géographiques contributive", true) }}",
    "VUE_APP_LOGO_PATH": "{{ VUE_APP_LOGO_PATH|default("@/assets/img/logo-neogeo-circle.png", true) }}",
    "VUE_APP_APPLICATION_FAVICO": "{{ VUE_APP_APPLICATION_FAVICO|default("@/assets/img/icons/favicon-32x32.png", true) }}",
    "VUE_APP_DJANGO_BASE": "{{ BASE_URL|default('') }}",
    "VUE_APP_DJANGO_API_BASE": "/geocontrib/api/",

    "VUE_APP_CATALOG_NAME": "{{ VUE_APP_CATALOG_NAME|default('IDGO', true) }}",
    "VUE_APP_IDGO": {{ VUE_APP_IDGO|default('false', true) }},
    "VUE_APP_RELOAD_INTERVAL": 15000,

    "VUE_APP_LOGIN_URL": "{{ VUE_APP_LOGIN_URL|default('', true) }}",
    "VUE_APP_DISABLE_LOGIN_BUTTON": {{ DISABLE_LOGIN_BUTTON|default('false', true) }},

    "DEFAULT_BASE_MAP_SCHEMA_TYPE": "{{ DEFAULT_BASE_MAP_SCHEMA_TYPE|default('tms', true) }}",
    "DEFAULT_BASE_MAP_SERVICE": "{{ DEFAULT_BASE_MAP_SERVICE|default('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', true) }}",
    "DEFAULT_BASE_MAP_OPTIONS": {{ DEFAULT_BASE_MAP_OPTIONS|default('{ "attribution": "&copy; contributeurs d\'<a href=\'https://osm.org/copyright\'>OpenStreetMap</a>", "maxZoom": 20 }', true) }},
    "DEFAULT_MAP_VIEW" : {
        "center": {{ DEFAULT_MAP_VIEW_CENTER|default('[47.0, 1.0]', true) }},
        "zoom": {{ DEFAULT_MAP_VIEW_ZOOM|default('4', true) }}
    },
    "GEOCODER_PROVIDERS" : {
        "ADDOK": "addok",
        "NOMINATIM": "nominatim",
        "PHOTON": "photon"
    },
    "SELECTED_GEOCODER" : {
        "PROVIDER": "addok"
    },
    "DISPLAY_FORBIDDEN_PROJECTS" : {{ DISPLAY_FORBIDDEN_PROJECTS|default("true", true) }},
    "DISPLAY_FORBIDDEN_PROJECTS_DEFAULT" : {{ DISPLAY_FORBIDDEN_PROJECTS_DEFAULT|default("true", true) }}
}
