{% extends "collab/base.html" %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if success %}
<div class="ui success message">
  <div class="header">{{ success }}</div>
</div>
{% endif %}

{% if error %}
<div class="ui error message">
  <strong>{{error}}</strong>
</div>
{% endif %}

<div class="fourteen wide column">

  <form id="form-type-edit" action="" method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    <h1>Créer un nouveau type de signalement pour le projet "{{ project.title }}"</h1>

    <div class="two fields">
      <div class="required field">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        <input type="text" required maxlength="{{ form.title.field.max_length }}"
          name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}">
        {{ form.title.errors }}
      </div>
      <div class="required field">
        <label for="{{ form.geom_type.id_for_label }}">{{ form.geom_type.label }}</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="{{ form.geom_type.html_name }}" id="{{ form.geom_type.id_for_label }}">
          <div class="default text"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for x,y in form.geom_type.field.choices %}
              <div class="item" data-value="{{ x }}" {% if form.geom_type.value == x %} selected{% endif %}>{{ y }}</div>
            {% endfor %}
          </div>
        </div>
        {{ form.geom_type.errors }}
      </div>
      <div class="required field">
        <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
        <input type="color" required style="width:100%;height:38px;"
          name="{{ form.color.html_name }}" id="{{ form.color.id_for_label }}">
        {{ form.color.errors }}
      </div>
    </div>

    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for error in form.non_field_errors %}{% endfor %}
    <div id="formsets"></div>

    <button id="add-field" type="button" class="ui compact basic button button-hover-green">
      <i class="ui plus icon"></i>Ajouter un champ personnalisé
    </button>

    <div class="ui divider"></div>

    <button type="submit" class="ui teal icon button">
      <i class="white save icon"></i> Créer le type de signalement
    </button>

  </form>

</div>


<script>
  $(document).on('click', '.remove-field', function () {
    var $segment = $(this).parent().parent('.segment')
    $segment.hide()
    $segment.children('.visible-fields').remove()
    $segment.children('.delete-hidden-field').prop('checked', true)
  })

  $(document).on('change', '.field-type', function () {
    var $options = $(this).parent().parent('.field').parent('.fields').children('.field-list-options')
    if ($(this).val() === "list") {
      $options.show()
    } else {
      $options.hide()
    }
  })

  $('#add-field').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();

    console.log('add-field', form_idx);
    $('#formsets').append((`
      <div class="ui teal segment">
        <h4>
          Champ personnalisé
          <button class="ui small compact right floated icon button remove-field" type="button"><i class="ui times icon"></i></button>
        </h4>
        <div class="visible-fields">
          <div class="two fields">
            <div class="required field">
              <label for="{{ formset.empty_form.label.id_for_label }}">{{ formset.empty_form.label.label }}</label>
              <input type="text" required maxlength="{{  formset.empty_form.label.field.max_length }}"
                name="{{ formset.empty_form.label.html_name }}" id="{{  formset.empty_form.label.id_for_label }}">
              {{ formset.label.errors }}
            </div>
            <div class="required field">
              <label for="{{ formset.empty_form.name.id_for_label }}">{{ formset.empty_form.name.label }}</label>
              <input type="text" required maxlength="{{  formset.empty_form.name.field.max_length }}"
                name="{{ formset.empty_form.name.html_name }}" id="{{  formset.empty_form.name.id_for_label }}">
              {{ formset.name.errors }}
            </div>
          </div>
          <div class="three fields">
            <div class="required field">
              <label for="{{ formset.empty_form.position.id_for_label }}">{{ formset.empty_form.position.label }}</label>
              <div class="ui input">
                <input type="number" min="{{ formset.empty_form.position.field.min_value }}"
                name="{{ formset.empty_form.position.html_name }}" id="{{ formset.empty_form.position.id_for_label }}"
                value="${form_idx}">
              </div>
              {{ formset.position.errors }}
            </div>
            <div class="required field">
              <label for="{{ formset.empty_form.field_type.id_for_label }}">{{ formset.empty_form.field_type.label }}</label>
              <div class="ui selection dropdown">
                <input type="hidden" class="field-type"
                  name="{{ formset.empty_form.field_type.html_name }}" id="{{ formset.empty_form.field_type.id_for_label }}"
                  value="{{ formset.empty_form.field_type.value }}">
                <div class="default text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {% for x,y in formset.empty_form.field_type.field.choices %}
                    <div class="item" data-value="{{ x }}" {% if formset.empty_form.field_type.value == x %} selected{% endif %}>{{ y }}</div>
                  {% endfor %}
                </div>
              </div>
              {{ formset.empty_form.field_type.errors }}
            </div>
            <div class="field field-list-options" style="display:none;">
              <label for="{{ formset.empty_form.options.id_for_label }}">{{ formset.empty_form.options.label }}</label>
              <input type="text" maxlength="{{  formset.empty_form.options.field.max_length }}"
                name="{{ formset.empty_form.options.html_name }}" id="{{  formset.empty_form.options.id_for_label }}">
              {{ formset.options.errors }}
            </div>
          </div>
        </div>
        <input class="delete-hidden-field" type="checkbox"
          name="{{ formset.empty_form.DELETE.html_name }}"
          id="{{ formset.empty_form.DELETE.id_for_label }}">
        </div>
      </div>
    `).replace(/__prefix__/g, form_idx))
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);

    $('.ui.dropdown').dropdown()
  })

</script>
{% endblock %}
