{% extends "collab/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="five wide column">
    <div class="ui attached secondary segment">
      <h1 class="ui center aligned header">
        {% if structure.geom_type == 'point' %}
          <img class="ui medium image" src="{% static 'collab/img/marker.png' %}">
        {% elif structure.geom_type == 'linestring' %}
          <img class="ui medium image" src="{% static 'collab/img/line.png' %}">
        {% elif structure.geom_type == 'polygon' %}
          <img class="ui medium image" src="{% static 'collab/img/polygon.png' %}">
        {% endif %}
        {{ structure.title }}
      </h1>
    </div>
    <div class="ui attached segment">
      <div class="ui basic segment">
        <div class="ui horizontal tiny statistic">
          <div class="value">
            {{ features|length }}
          </div>
          <div class="label">
            Signalement{% if features|length > 1 %}s{% endif %}
          </div>
        </div>

        <h3 class="ui header">
          Champs
        </h3>
        <div class="ui divided list">
          {% for field in structure.customfield_set %}
            <div class="item">
              <div class="right floated content">
                <div class="description">{{ field.field_type }}</div>
              </div>
              <div class="content">
                {{ field.label }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="ui bottom attached secondary segment">
      <div class="ui accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Importer des signalements
        </div>
        <div class="content">
          <form id="form-import-features" action="{% url 'collab:import_from_geojson' slug=project.slug feature_type_slug=feature_type.slug %}" method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token %}
            <div class="field">
              <label class="ui icon button" for="json_file">
                <i class="file icon"></i>
                <span class="label">Sélectionner un fichier GeoJSON ...</span>
              </label>
              <input type="file" accept="application/json, .json" style="display:none;"
                name="json_file" id="json_file">
            </div>
            <button type="submit" class="ui basic teal icon button"><i class="upload icon"></i> Lancer l'import</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="nine wide column">
    <h3 class="ui header">
      Derniers signalements
    </h3>
    {% for feature in features %}
      <div class="ui small header">
        <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id  %}">
          {{ feature.title }}
        </a>
        <div class="sub header">{{ feature.description}}</div>
      </div>
    {% endfor %}
    <a class="ui right labeled icon button" href="{% url 'collab:feature_list' slug=project.slug %}">
      <i class="right arrow icon"></i>
      Voir tous les signalements
    </a>
  </div>
</div>
{% endblock %}

{% block custom_resources %}
<script type="text/javascript">
  function truncate(n, len) {
    var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase()
    var filename = n.replace('.' + ext, '')
    if (filename.length <= len) {
      return n
    }
    filename = filename.substr(0, len) + (n.length > len ? '[...]' : '')
    return filename + '.' + ext
  }

  $(document).on('change', 'form [name=json_file]', function () {
    var logoFile = $(this).prop('files')[0]
    $(this).parent().children('label').children('.label').html(truncate(logoFile.name, 30))
  })
</script>
{% endblock %}
