{% extends "collab/layout_menu.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

{% if user.is_superuser %}
    <div class="ui middle aligned stackable grid container">
    {% if form %}
        <div class="row">
            <h2 class="ui header">Créer un nouveau projet</h2>
        </div>
        {% if errors %}
        <div class="ui error message">
            <div class="header">Veuillez corriger votre formulaire</div><br>
            {% for key,val in errors.items %}
                <strong>{{key}}</strong>: {{val.0}}<br>
            {% endfor %}
            </div>
        {% endif %}
            <div class="row">
                <form class='ui equal width addproject form' method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="ui error message"></div>
                    <div class="required field">
                        <label>{{form.title.label}}</label>
                        <input type="text"  name="title" placeholder="{{form.title.label}}" />
                    </div>
                    <div class="required field">
                        <label>{{form.illustration.label}}</label>
                        <div class="ui action input">
                            <input type="text"  placeholder="Illustration" readonly>
                            <input type="file" id='illustration' name="illustration" style="display: none">
                        <div class="ui icon button iconfile">
                        <i class="attach icon"></i>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>{{form.visi_feature.label}} </label>
                <div class="ui selection dropdown feature">
                    <input type="hidden"  name="visi_feature" placeholder="" value="0" />
                    <i class="dropdown icon"></i>
                    <div class="text">Utilisateur anonyme</div>
                    <div class="menu">
                    {% for value,text in form.visi_feature.field.choices %}
                        <div class="item" data-value={{value}} >{{text}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>{{form.visi_archive.label}} </label>
                <div class="ui selection dropdown feature">
                    <input type="hidden"  name="visi_archive" placeholder="" value="4" />
                    <i class="dropdown icon"></i>
                    <div class="text">Administrateur</div>
                    <div class="menu">
                    {% for value,text in form.visi_archive.field.choices %}
                        <div class="item" data-value={{value}} >{{text}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{form.description.label}}</label>
                <textarea name="description"></textarea>
            </div>
            <div class="inline field">
                <div class="ui checkbox boolfield">
                    <input type="checkbox" name="moderation" class="hidden" >
                    <input type="hidden" value="0" name="moderation">
                    <label>{{form.moderation.label}}</label>
                </div>
            </div>
            <div class="field">
                <label>{{form.nbday_archive.label}} (nombre de jours)</label>
                <input type="number" step="any" name="nbday_archive" placeholder="" />
            </div>
            <div class="field">
                <label>{{form.nbday_delete.label}}  (nombre de jours)</label>
                <input type="number"  step="any" name="nbday_delete" placeholder="" />
            </div>
            <div style="margin-top:10px">
                <button class="green ui button" type="submit">
                Créer votre projet
                </button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="ui success message">
        <div class="header">Votre projet a bien été créé.</div>
    </div>
    {% endif %}
    </div>
{% else %}
    <i class='icon exclamation triangle'></i>
    <span>Vous ne disposez pas des droits nécessaires.</span>
{% endif %}
{% load staticfiles %}
<script src="{% static 'collab/js/project.js' %}"></script>
{% endblock %}
