{% extends "collab/base.html" %}

{% load static %}

{% block title %}Projet {{ project.title }}{% endblock %}

{% block content %}

  {% if permissions|lookup:'can_view_project' %}
  <div class="row">
    <div class="four wide middle aligned column">
      <img class="ui small spaced image" src="{{ project.thumbnail }}">
      <div class="ui hidden divider"></div>
      <div class="ui basic teal label" data-tooltip="Utilisateurs">
        <i class="user icon"></i>{{ project.nb_contributors }}
      </div>
      <div class="ui basic teal label" data-tooltip="Signalements">
        <i class="map marker icon"></i>{{ features|length }}
      </div>
      <div class="ui basic teal label" data-tooltip="Commentaires">
        <i class="comment icon"></i>{{ project.nb_comments }}
      </div>
    </div>
    <div class="ten wide column">
      <h1 class="ui header">
        <div class="content">
          {{ project.title }}
          <div class="ui icon right floated compact buttons">
            {% if permissions|lookup:'can_view_project' %}
              <a id="subscribe-button" class="ui button button-hover-green">
                <i class="inverted grey envelope icon"></i>
              </a>
            {% endif %}
            {% if project and permissions|lookup:'can_update_project' %}
              <a href="{% url 'collab:project_update' slug=project.slug %}" class="ui button button-hover-orange">
                <i class="inverted grey pencil alternate icon"></i>
              </a>
            {% endif %}
          </div>
          <div class="ui hidden divider"></div>
          <div class="sub header">
            {{ project.description|linebreaks }}
          </div>
        </div>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="seven wide column">
      <h3 class="ui header">Types de signalements</h3>
      <div class="ui middle aligned divided selection list">
        {% for type in feature_types %}
          <div class="item">
            <div class="middle aligned content">
              {% if type.geom_type == 'point' %}
                <img class="list-image-type" src="{% static 'collab/img/marker.png' %}">
              {% elif type.geom_type == 'linestring' %}
                <img class="list-image-type" src="{% static 'collab/img/line.png' %}">
              {% elif type.geom_type == 'polygon' %}
                <img class="list-image-type" src="{% static 'collab/img/polygon.png' %}">
              {% endif %}
              <a href="{% url 'collab:feature_type_detail' slug=project.slug feature_type_slug=type.slug %}"> {{ type.title }} </a>
              {% if project and feature_types and permissions|lookup:'can_create_feature' %}
              <a class="ui compact small icon right floated button button-hover-green" data-tooltip="Ajouter un signalement" data-position="left center" data-variation="mini"
                 href="{% url 'collab:feature_create' slug=project.slug feature_type_slug=type.slug %}">
                <i class="ui plus icon"></i>
              </a>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <div>
            <i>
              Le projet ne contient pas encore de signalement.
            </i>
          </div>
        {% endfor %}
      </div>
      {% if project and permissions|lookup:'can_update_project' %}
        <a class="ui compact basic button button-hover-green" href="{% url 'collab:feature_type_create' slug=project.slug %}">
          <i class="ui plus icon"></i>Créer un nouveau type de signalement
        </a>
      {% endif %}
    </div>
    <div class="seven wide column">
      <a href="{% url 'collab:feature_list' slug=project.slug %}">
        <div id="map"></div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="fourteen wide column">
      <div class="ui two stackable cards">
        <div class="red card">
          <div class="content">
            <div class="center aligned header">Derniers signalements</div>
            <div class="center aligned description">
              {% for item in last_features %}
                <p>
                  <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=item.feature_type.slug feature_id=item.feature_id  %}">{{ item.title }}</a>
                </p>
              {% empty %}
                <i>Aucun signalement pour le moment.</i>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="orange card">
          <div class="content">
            <div class="center aligned header">Derniers commentaires</div>
            <div class="center aligned description">
              <div class="ui relaxed list">
                {% for elt in comments %}
                  <div class="item">
                    <div class="content">
                      <div>"{{ elt.comment }}"</div>
                      <div class="description">
                        <i>[
                          {{ elt.created_on|date:"d/m/Y" }}
                        {% if user.is_authenticated %}
                          , par {{ elt.author__first_name|title }} {{ elt.author__last_name }}
                        {% endif %}
                        ]</i>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <i>Aucun commentaire pour le moment.</i>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="fourteen wide column" >
      <div class="ui grey segment">
        <h3 class="ui header">Paramètres du projet</h3>
        <div class="ui five stackable cards">
          <div class="card">
            <div class="center aligned content">
              <h4 class="ui center aligned icon header">
                <i class="disabled grey archive icon"></i>
                <div class="content">Délai avant archivage automatique</div>
              </h4>
            </div>
            <div class="center aligned extra content">{{ project.archive_feature }} jours</div>
          </div>
          <div class="card">
            <div class="content">
              <h4 class="ui center aligned icon header">
                <i class="disabled grey trash alternate icon"></i>
                <div class="content">Délai avant suppression automatique</div>
              </h4>
            </div>
            <div class="center aligned extra content">{{ project.delete_feature }} jours</div>
          </div>
          <div class="card">
            <div class="content">
              <h4 class="ui center aligned icon header">
                <i class="disabled grey eye icon"></i>
                <div class="content">Visibilité des signalements publiés</div>
              </h4>
            </div>
            <div class="center aligned extra content">{{ project.access_level_pub_feature }}</div>
          </div>
          <div class="card">
            <div class="content">
              <h4 class="ui center aligned icon header">
                <i class="disabled grey eye icon"></i>
                <div class="content">Visibilité des signalements archivés</div>
              </h4>
            </div>
            <div class="center aligned extra content">{{ project.access_level_arch_feature }}</div>
          </div>
          <div class="card">
            <div class="content">
              <h4 class="ui center aligned icon header">
                <i class="disabled grey cogs icon"></i>
                <div class="content">Modération</div>
              </h4>
            </div>
            <div class="center aligned extra content">{% if project.moderation %}Oui{% else %}Non{% endif %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <i class='icon exclamation triangle'></i>
  <span>Vous ne disposez pas des droits nécessaires.</span>
  {% endif %}

  <div class="ui mini modal subscription">
    <i class="close icon"></i>
    <div class="ui icon header">
      <i class="envelope icon"></i>
      Notifications du projet
    </div>
    <div class="content">
      {% if is_suscriber %}
        <form action="{% url 'collab:subscription' slug=project.slug action='annuler' %}" method="GET">
          <button type="submit" class="ui red compact fluid button">
            Se désabonner de ce projet
          </button>
        </form>
      {% else %}
      <form action="{% url 'collab:subscription' slug=project.slug action='ajouter' %}" method="GET">
        <button type="submit" class="ui green compact fluid button">
          S'abonner à ce projet
        </button>
      </form>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}

{% block custom_resources %}
<style>
  #map {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }
  .list-image-type {
    margin-right: 5px;
    height: 25px;
    vertical-align: bottom;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#subscribe-button').click(function(){
      $('.mini.modal.subscription').modal('show')
    })

    var map = L.map('map', {zoomControl: false}).setView([50.00976, 2.8657699], 7)
    {% if layers %}
      {% for layer in layers %}
        var options = {{ layer.options|safe }}
        {% if layer.schema_type == "wms" %}
          L.tileLayer.wms('{{ layer.service }}', options).addTo(map)
        {% elif layer.schema_type == "tms" %}
          L.tileLayer('{{ layer.service }}', options).addTo(map)
        {% endif %}
      {% endfor %}
    {% else %}
      L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map)
    {% endif %}

    map.dragging.disable()
    map.doubleClickZoom.disable()
    map.scrollWheelZoom.disable()


    var featureGroup = new L.FeatureGroup()
    {% for feature in features %}
      var geomFeatureJSON = wellknown.parse("{{ feature.geom.wkt }}")
      var geomJSON = turf.flip(geomFeatureJSON)
      if (geomJSON.type === 'Point') {
        L.circleMarker(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          radius: 4,
          fillOpacity: 0.3,
          weight: 1
        }).addTo(featureGroup)
      } else if (geomJSON.type === 'LineString') {
        L.polyline(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          weight: 1.5
        }).addTo(featureGroup)
      } else if (geomJSON.type === 'Polygon') {
        L.polygon(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          weight: 1.5,
          fillOpacity: 0.3
        }).addTo(featureGroup)
      }
    {% endfor %}
    map.addLayer(featureGroup);
    map.fitBounds(featureGroup.getBounds())

  })
</script>
{% endblock %}
