{% extends "collab/layout_menu.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    {% if rights.proj_consultation %}
        <div class="project_header">
          <h2 class="ui header">{{project.title|title }}</h2>
        </div>
        <p>{{project.description}}</p>

        <table class="ui very basic table">
            <tbody>
              <tr>
                  <td>Date de création du projet</td>
                  <td><strong>{{project.creation_date|date:'d/m/Y'}}</strong></td>
              </tr>
              <tr>
                  <td>Niveau de droit requis</td>
                  <td><strong>{{project.get_visi_feature_display}}</strong></td>
              </tr>
              <tr>
                  <td>Nombre de contributeurs</td>
                  <td><strong>{{nb_contributors}}</strong></td>
              </tr>
              <tr>
                  <td>Nombre de signalements</td>
                  <td><strong>{{nb_features}}</strong></td>
              </tr>
              <tr>
                  <td>Nombre de commentaires</td>
                  <td><strong>{{nb_comments}}</strong></td>
              </tr>
              <tr>
                  <td>Modération activée&nbsp;?</td>
                  <td>{% if project.moderation %}<strong>Oui</strong>{% else %}<strong>Non</strong>{% endif %}</td>
              </tr>
            </tbody>
        </table>
        <br>
        <h3 class="ui header">Derniers utilisateurs inscrits</h3>
            {% if  users %}
              <table class="ui very basic table">
                  {% for elt in users %}
                      <tr>
                          <td> <i class="user icon"></i>{{elt.user__last_name|title}} {{elt.user__first_name|title}}</td>
                      </tr>
                  {% endfor %}
              </table>
            {% else %}
                Aucun utilisateur n'est inscrit à de projet
            {% endif %}
        <br>
        <h3 class="ui header">Derniers signalements</h3>
          {% if  last_features %}
           <table class="ui very basic table">
               {% for key,val in last_features.items %}
                    <tr><td>
                        <img class="ui avatar image" src="{{project.illustration.url}}"><strong>{{key|title}}</strong></td>
                        <td>
                            {% if val %}
                                <div class="ui list">
                                    {% for elt in val %}
                                        <div class="content">
                                             <a href="{% url 'project_feature_detail' project_slug=project.slug feature_type=key feature_pk=elt.pk  %}" class="header">{{elt.titre|title}}</a>
                                             <div class="description">Créé par {{elt.last_name|title}} {{elt.first_name|title}} le {{elt.creation_date|date:"d/m/Y"}}</div>
                                         </div>
                                         <br>
                                    {% endfor %}
                                 </div>
                            {% else %}
                                 <div class="description"><span>Aucun signalement de ce type n'a été créé</span></div>
                                 <br>
                            {% endif %}
                        </td>
                     </td></tr>
               {% endfor %}
           </table>
          {% else%}
                Aucun signalement n'est disponible
          {% endif %}
        <br>
        <h3 class="ui header">Derniers commentaires</h3>
         {% if comments %}
            <div class="ui bulleted list">
                  {% for elt in comments %}
                      <table class="ui celled table">
                        <thead>
                          <tr><th>
                                  <span class="comment_title"> <strong>{{elt.author__first_name|title}}
                                                      {{elt.author__last_name|title}} <strong>
                                                       Le {{elt.creation_date|date:"d M Y"}}</span>
                          </th></tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td data-label="">{{elt.comment}}</td>
                          </tr>
                        </tbody>
                     </table>
                  {% endfor %}
            </div>
        {% else %}
            <span>Aucun commentaire n'a été ajouté</span>
        {% endif %}
    {% else %}
            <i class='icon exclamation triangle'></i>
            <span>Vous ne disposez pas des droits nécessaires.</span>
    {% endif %}
{% endblock %}
