
<div class="ui middle aligned stackable grid container">
     <form id='saveform' class='ui form' method=""  enctype="multipart/form-data" >
         {% csrf_token %}
            <div class="">
                 <button id="save_project" type="submit" class="green ui compact icon button">
                  <i class="white large save icon"></i>
                 </button>
            </div>
             <div class="ui error message"></div>
             <div class="field">
                 <label>Date de création </label>
                 <input type="text"  name="creation_date" value="{{project.creation_date|date:"d/m/Y"}}" />
             </div>
             <div class="field">
                 <label>Délai avant archivage (nb jours) </label>
                 <input type="text"  name="archive_feature" value="{{project.archive_feature|get_timestamp}}" />
             </div>
             <div class="field">
                 <label>Délai avant suppression (nb jours) </label>
                 <input type="text"  name="delete_feature" value="{{project.delete_feature|get_timestamp}}" />
             </div>
             <div class="field">
                <label>Illustration</label>
                <div class="ui action input">
                     <input type="text"  value="{{project.illustration.url}}" readonly>
                     <input type="file"  name="illustration" style="display: none">
                     <div class="ui icon button icon_projform">
                       <i class="attach icon"></i>
                     </div>
                </div>
             </div>
             <div class="inline field">
                <div class="ui checkbox moderation">
                    <input type="checkbox" tabindex="0" name="moderation" class="hidden">
                    <label>Moderation</label>
                </div>
             </div>
             <div class="required field">
                 <label>Titre</label>
                 <input type="text"  name="title" value="{{project.title}}" />
             </div>
             <div class="required field">
                 <label>Visibilité des signalements archivés </label>
                 <div class="ui selection dropdown visi_archive">
                     <input type="hidden"  name="visi_archive" value="" />
                     <i class="dropdown icon"></i>
                     <div class="default text"></div>
                      <div class="menu">
                       {% for elt in user_type_archive %}
                            <div class="item" data-value={{elt.0}} >{{elt.1}}</div>
                       {% endfor %}
                     </div>
                  </div>
             </div>
             <div class="required field">
                 <label>Visibilité des signalements publiés </label>
                 <div class="ui selection dropdown visi_feature">
                     <input type="hidden"  name="visi_feature" value="" />
                     <i class="dropdown icon"></i>
                     <div class="default text"></div>
                      <div class="menu">
                       {% for elt in user_type %}
                            <div class="item" data-value={{elt.0}} >{{elt.1}}</div>
                       {% endfor %}
                     </div>
                  </div>
             </div>
    </form>
</div>

<script>
    var visi_archive = "{{project.visi_archive}}"
    $('.ui.selection.dropdown.visi_archive')
      .dropdown('set selected', visi_archive)
    ;
    var visi_feature = "{{project.visi_feature}}"
    $('.ui.selection.dropdown.visi_feature')
      .dropdown('set selected', visi_feature)
    ;

    $(".icon_projform").click(function() {
      $(this).parent().find("input:file").click();
    });

    $('input:file', '.ui.action.input')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('input:text', $(e.target).parent()).val(name);
      });

    $('.ui.checkbox.moderation')
      .checkbox()
    ;
    var mod = "{{project.moderation}}"
    if (String(mod).toLowerCase() == 'true'){
        $('.ui.checkbox.moderation').checkbox('check');
    }

    $('#saveform').on('submit',function(e){
        e.preventDefault();
        url = ''
        $.ajax({
          url: url,
          type: 'POST',
        //   processData: false,  // Important!
        //   contentType: false,
        //   cache: false,
          data: $('#saveform').serialize(),
          success: function (result) {
              $('#project_form').html("");
              $('#detail').html(result);

          },
          error: function(err) {
            console.log('Error occured', err);
          }
        });

    });


</script >
