{% extends "collab/layout_menu.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="ui middle aligned stackable grid container">
  <div class="row">
    <h2 class="ui header">Créer un nouveau projet</h2>
  </div>
  <form class='ui form' method="post">{% csrf_token %}
      <div style="margin-top:10px">
        {{ form.as_p }}
        <button class="green ui button" type="submit">
          Créer votre projet
        </button>
      </div>
  </form>
</div>

{% load staticfiles %}
<script src="{% static 'collab/js/project.js' %}"></script>
{% endblock %}
