{% extends "geocontrib/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block custom_resources %}
{{ block.super }}
<script src="{% static 'geocontrib/js/colors_style.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

{% if success %}
<div class="ui success message">
  <div class="header">{{ success }}</div>
</div>
{% endif %}

{% if error %}
<div class="ui error message">
  <strong>{{error}}</strong>
</div>
{% endif %}

<div class="fourteen wide column">

  <form id="form-type-edit" action="" method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    <h1>Éditer le type de signalement "{{ feature_type.title }}" pour le projet "{{ project.title }}"</h1>

    <div class="two fields">
      <div class="required field">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        <input type="text" required maxlength="{{ form.title.field.max_length }}" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
        {{ form.title.errors }}
      </div>
      <div class="required field">
        <label for="{{ form.geom_type.id_for_label }}">{{ form.geom_type.label }}</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="{{ form.geom_type.html_name }}" id="{{ form.geom_type.id_for_label }}" value="{% if form.geom_type.value %}{{ form.geom_type.value }}{% endif %}">
          <div class="default text"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for x,y in form.geom_type.field.choices %}
            <div class="item" data-value="{{ x }}" {% if form.geom_type.value == x %} selected{% endif %}>{{ y }}</div>
            {% endfor %}
          </div>
        </div>
        {{ form.geom_type.errors }}
      </div>
      <div class="required field">
        <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
        <input type="color" required style="width:100%;height:38px;" name="{{ form.color.html_name }}" id="{{ form.color.id_for_label }}" value="{% if form.color.value %}{{ form.color.value }}{% endif %}">
        {{ form.color.errors }}
      </div>
    </div>

    <div class="custom_style" id="id_style_container" style="display: none;">
      <div class="list_selection" id="id_list_selection">
        <div class="ui selection dropdown" tabindex="0">
          <input type="hidden">
          <div class="text" id="id_list_label_selected">Sélectionner la liste de valeurs</div>
          <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1" id="id_list_menu">
          </div>
        </div>
      </div>
      <div class="colors_selection" id="id_colors_selection" hidden>
      </div>
    </div>
    <!-- A partir des valeur choisis dans id_list_menu et id_colors_selection  on le mettra dabs form.colors_style.value -->
    <div class="hidden_field" id="id_colors_style_textarea" hidden>
      <label for="{{ form.colors_style.id_for_label }}">{{ form.colors_style.label }}</label>
      {{ form.colors_style.errors }}
      <textarea cols="40" rows="10" name="{{ form.colors_style.html_name }}" id="{{ form.colors_style.id_for_label }}">{{ form.colors_style.value }}</textarea>
    </div>

    {% for error in form.non_field_errors %}{% endfor %}
    <div id="formsets">
      {{ formset.management_form }}
      {{ formset.non_form_errors }}
      {% for form in formset %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <div class="ui teal segment pers-field">
          <h4>
            Champ personnalisé
            <button class="ui small compact right floated icon button remove-field" type="button"><i class="ui times icon"></i></button>
          </h4>
          <div class="visible-fields">
            <div class="two fields">
              <div class="required field">
                <label for="{{ form.label.id_for_label }}">{{ form.label.label }}</label>
                <input type="text" required maxlength="{{  form.label.field.max_length }}" name="{{ form.label.html_name }}" id="{{  form.label.id_for_label }}" value="{% if form.label.value %}{{ form.label.value }}{% endif %}">
                <small>{{ form.label.help_text }}</small>
                {{ form.label.errors }}
              </div>
              <div class="required field">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <input type="text" required maxlength="{{  form.name.field.max_length }}" name="{{ form.name.html_name }}" id="{{  form.name.id_for_label }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                <small>{{ form.name.help_text }}</small>
                {{ form.name.errors }}
              </div>
            </div>
            <div class="three fields">
              <div class="required field">
                <label for="{{ form.position.id_for_label }}">{{ form.position.label }}</label>
                <div class="ui input">
                  <input type="number" min="{{ form.position.field.min_value }}" name="{{ form.position.html_name }}" id="{{ form.position.id_for_label }}" value="{{ form.position.value }}">
                </div>
                <small>{{ form.position.help_text }}</small>
                {{ form.position.errors }}
              </div>
              <div class="required field">
                <label for="{{ form.field_type.id_for_label }}">{{ form.field_type.label }}</label>
                <div class="ui selection dropdown disabled">
                  <input type="hidden" class="field-type" name="{{ form.field_type.html_name }}" id="{{ form.field_type.id_for_label }}" value="{{ form.field_type.value }}">
                  <div class="default text"></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {% for x,y in form.field_type.field.choices %}
                    <div class="item" data-value="{{ x }}" {% if form.field_type.value == x %} selected{% endif %}>{{ y }}</div>
                    {% endfor %}
                  </div>
                </div>
                {{ form.field_type.errors }}
              </div>
              <div class="field field-list-options required field" style="display:none;">
                <label for="{{ form.options.id_for_label }}">{{ form.options.label }}</label>
                <input
                  type="text"
                  maxlength="{{  form.options.field.max_length }}"
                  name="{{ form.options.html_name }}"
                  id="{{  form.options.id_for_label }}"
                  class="options-field"
                  value="{{ form.options.value }}"
                >
                <small>{{ form.options.help_text }}</small>
                {{ form.options.errors }}
              </div>
            </div>
          </div>
          <input class="delete-hidden-field" type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}">
        </div>
      {% endfor %}
    </div>
    {# <div id="formsets"></div> #}

    <button id="add-field" type="button" class="ui compact basic button button-hover-green">
      <i class="ui plus icon"></i>Ajouter un champ personnalisé
    </button>

    <!-- <div class="ui divider"></div> -->

      <!-- <button id="id_custom_style_button" type="button" class="ui compact basic button button-hover-green">
        <i class="ui pen square icon"></i>Configurer le style de coloration
      </button> -->
    <!-- </div> -->
    <div class="ui divider"></div>

    <button type="submit" class="ui teal icon button" onclick="return checkform()">
      <i class="white save icon"></i> Sauvegarder le type de signalement
    </button>

  </form>

</div>


<script>
  $(document).on('click', '.remove-field', function() {
    var $segment = $(this).parent().parent('.segment')
    $segment.hide()
    $segment.children('.visible-fields').remove()
    $segment.children('.delete-hidden-field').prop('checked', true)
  })

  $(document).on('change', '.field-type', function() {
    var $options = $(this).parent().parent('.field').parent('.fields').children('.field-list-options')
    if ($(this).val() === "list") {
      $options.find('input').prop('required', true)
      $options.show()
    } else {
      $options.find('input').prop('required', false)
      $options.hide()
    }
  })

  $(document).ready(function() {
    var all_fields = $(".field-type").select()
    for (i = 0; i < all_fields.length; i++) {
      var $this_field = $("#" + all_fields[i].id).select()
      var $option = $this_field.parent().parent('.field').parent('.fields').children('.field-list-options')
      if ($this_field.val() === "list") {
        $option.find('input').prop('required', true)
        $option.show()
      } else {
        $option.find('input').prop('required', false)
        $option.hide()
      }
    }
  })

  $('#add-field').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();

    console.log('add-field', form_idx);
    $('#formsets').append((`
      <div class="ui teal segment pers-field">
        <h4>
          Champ personnalisé
          <button class="ui small compact right floated icon button remove-field" type="button"><i class="ui times icon"></i></button>
        </h4>
        <div class="visible-fields">
          <div class="two fields">
            <div class="required field">
              <label for="{{ formset.empty_form.label.id_for_label }}">{{ formset.empty_form.label.label }}</label>
              <input type="text" required maxlength="{{  formset.empty_form.label.field.max_length }}"
              name="{{ formset.empty_form.label.html_name }}" id="{{  formset.empty_form.label.id_for_label }}">
              <small>{{ formset.empty_form.label.help_text }}</small>
              {{ formset.label.errors }}
            </div>
            <div class="required field">
              <label for="{{ formset.empty_form.name.id_for_label }}">{{ formset.empty_form.name.label }}</label>
              <input type="text" required
              maxlength="{{  formset.empty_form.name.field.max_length }}" name="{{ formset.empty_form.name.html_name }}"
              id="{{  formset.empty_form.name.id_for_label }}">
              <small>{{ formset.empty_form.name.help_text }}</small>
              {{ formset.name.errors }}
            </div>
          </div>
          <div class="three fields">
            <div class="required field">
              <label for="{{ formset.empty_form.position.id_for_label }}">{{ formset.empty_form.position.label }}</label>
              <div class="ui input">
                <input type="number" min="{{ formset.empty_form.position.field.min_value }}"
                name="{{ formset.empty_form.position.html_name }}" id="{{ formset.empty_form.position.id_for_label }}"
                value="${form_idx}">
              </div>
              <small>{{ formset.empty_form.position.help_text }}</small>
              {{ formset.position.errors }}
            </div>
            <div class="required field">
              <label for="{{ formset.empty_form.field_type.id_for_label }}">{{ formset.empty_form.field_type.label }}</label>
              <div class="ui selection dropdown disabled">
                <input type="hidden" class="field-type"
                  name="{{ formset.empty_form.field_type.html_name }}" id="{{ formset.empty_form.field_type.id_for_label }}"
                  value="{{ formset.empty_form.field_type.value }}">
                <div class="default text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {% for x,y in formset.empty_form.field_type.field.choices %}
                    <div class="item" data-value="{{ x }}" {% if formset.empty_form.field_type.value == x %} selected{% endif %}>{{ y }}</div>
                  {% endfor %}
                </div>
              </div>
              {{ formset.empty_form.field_type.errors }}
            </div>
            <div class="field field-list-options required field" style="display:none;">
              <label for="{{ formset.empty_form.options.id_for_label }}">{{ formset.empty_form.options.label }}</label>
              <input type="text" maxlength="{{  formset.empty_form.options.field.max_length }}"
                name="{{ formset.empty_form.options.html_name }}" id="{{  formset.empty_form.options.id_for_label }}" class="options-field">
              <small>{{ formset.empty_form.options.help_text }}</small>
              {{ formset.options.errors }}
            </div>
          </div>
        </div>
        <input class="delete-hidden-field" type="checkbox"
          name="{{ formset.empty_form.DELETE.html_name }}"
          id="{{ formset.empty_form.DELETE.id_for_label }}">
        </div>
      </div>
    `).replace(/__prefix__/g, form_idx))
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);

    $('.ui.dropdown').dropdown();

    let event = new Event('add-field');
    document.dispatchEvent(event);

    let id_form_options = '#id_form-' + form_idx + '-options';
    addValidationOptions(id_form_options);
  })

  function addValidationOptions(id_form_options){
    $(id_form_options).on('keydown', function(e) {
      if (e.which === 32) {
        return false;
      }  
    });
  }
  
  var form_idx = $('#id_form-TOTAL_FORMS').val();
  for (var i=0; i <=form_idx;i++ ){
    let id_form_options = '#id_form-' + i + '-options';
    addValidationOptions(id_form_options);
  }

  function checkform() {
    let form_idx = $('#id_form-TOTAL_FORMS').val();
    for (var i=0; i <= form_idx;i++ ){
      let id_form_options = 'id_form-' + i + '-options';
      let id_form_options_elem = document.getElementById(id_form_options);
      if (typeof id_form_options_elem !== null && id_form_options_elem !== 'undefined'){
          let id_form_options_val = document.getElementById(id_form_options);
          if (id_form_options_val != undefined && id_form_options_val != null){
            let new_id_form_options_val = document.getElementById(id_form_options).value.replace(/^,|,$/g, '');
            document.getElementById(id_form_options).value = new_id_form_options_val;
          }
      }
    }
  }

</script>

<style>
  #add-field {
    margin-top: 1em;
  }

  #id_style_container {
    display: flex;
    height: 100%;
  }

  #id_colors_selection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .color-input {
    margin-left: 1em;
  }
  .color-input > label {
    margin-right: 0.5em;
  }
</style>
{% endblock %}
