{% extends "geocontrib/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="row">
  <div class="five wide column">
    <div class="ui attached secondary segment">
      <h1 class="ui center aligned header">
        {% if structure.geom_type == 'point' %}
          <img class="ui medium image" src="{% static 'geocontrib/img/marker.png' %}">
        {% elif structure.geom_type == 'linestring' %}
          <img class="ui medium image" src="{% static 'geocontrib/img/line.png' %}">
        {% elif structure.geom_type == 'polygon' %}
          <img class="ui medium image" src="{% static 'geocontrib/img/polygon.png' %}">
        {% endif %}
        {{ structure.title }}
      </h1>
    </div>
    <div class="ui attached segment">
      <div class="ui basic segment">
        <div class="ui horizontal tiny statistic">
          <div class="value">
            {{ features|length }}
          </div>
          <div class="label">
            Signalement{% if features|length > 1 %}s{% endif %}
          </div>
        </div>

        <h3 class="ui header">
          Champs
        </h3>
        <div class="ui divided list">
          {% for field in structure.customfield_set %}
            <div class="item">
              <div class="right floated content">
                <div class="description">{{ field.field_type }}</div>
              </div>
              <div class="content">
                {{ field.label }} ({{ field.name }})
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="ui bottom attached secondary segment">
      <div class="ui styled accordion">
        {% if permissions|lookup:'can_create_feature' %}
        <div class="title">
          <i class="dropdown icon"></i>
          Importer des signalements
        </div>
        <div class="content">
          <form id="form-import-features" action="{% url 'geocontrib:import_from_geojson' slug=project.slug feature_type_slug=feature_type.slug %}" method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token %}
            <div class="field">
              <label class="ui icon button" for="json_file">
                <i class="file icon"></i>
                <span class="label">Sélectionner un fichier GeoJSON ...</span>
              </label>
              <input type="file" accept="application/json, .json" style="display:none;"
                name="json_file" id="json_file">
            </div>
            <button type="submit" class="ui fluid teal icon button"><i class="upload icon"></i> Lancer l'import</button>
          </form>
        </div>
        {% endif %}
        <div class="active title">
          <i class="dropdown icon"></i>
          Exporter les signalements
        </div>
        <div class="active content">
          <p>
            Vous pouvez télécharger l'ensemble des signalements ayant le statut publiés pour ce type.
          </p>
          <a class="ui fluid teal icon button" href="{% url 'api:project-export' slug=project.slug feature_type_slug=feature_type.slug %}">
            <i class="download icon"></i> Exporter
          </a>
        </div>
      </div>
    </div>


  </div>
  <div class="nine wide column">
    <h3 class="ui header">
      Derniers signalements
    </h3>
    {% for feature in features %}
      <div class="ui small header">
        {% if feature.status == 'archived' %}
        <span data-tooltip="Archivé">
          <i class="grey archive icon"></i>
        </span>
        {% elif feature.status == 'pending' %}
          <span data-tooltip="En attente de publication">
            <i class="teal hourglass outline icon"></i>
          </span>
        {% elif feature.status == 'published' %}
          <span data-tooltip="Publié">
            <i class="olive check icon"></i>
          </span>
        {% elif feature.status == 'draft' %}
          <span data-tooltip="Brouillon">
            <i class="orange pencil alternate icon"></i>
          </span>
        {% endif %}
        <a href="{% url 'geocontrib:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id  %}">
          {{ feature.title }}
        </a>
        <div class="sub header">
          <div>
            {{ feature.description|truncatechars:200 }}
          </div>
          <div>
            [
            Créé le {{ feature.created_on }}
            {% if user.is_authenticated %}
              par {{ feature.display_creator }}
            {% endif %}
            ]
          </div>
        </div>
      </div>
    {% endfor %}
    <a class="ui right labeled icon button" href="{% url 'geocontrib:feature_list' slug=project.slug %}">
      <i class="right arrow icon"></i>
      Voir tous les signalements
    </a>
    {% if permissions|lookup:'can_create_feature' %}
    <a class="ui icon button button-hover-green"
       href="{% url 'geocontrib:feature_create' slug=project.slug feature_type_slug=structure.slug %}">
      Ajouter un signalement
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block custom_resources %}
<script type="text/javascript">
  function truncate(n, len) {
    var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase()
    var filename = n.replace('.' + ext, '')
    if (filename.length <= len) {
      return n
    }
    filename = filename.substr(0, len) + (n.length > len ? '[...]' : '')
    return filename + '.' + ext
  }

  document.addEventListener("DOMContentLoaded", function () {
    $('.ui.accordion').accordion();
  });

  $(document).on('change', 'form [name=json_file]', function () {
    var logoFile = $(this).prop('files')[0]
    $(this).parent().children('label').children('.label').html(truncate(logoFile.name, 30))
  })
</script>
{% endblock %}
