<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8">
</head>
<body>
  Le projet {{ project.title|title }} a été mis à jour par {{ event_initiator.get_full_name|default:event_initiator.username }} le {{ created_on }}
  L'objet de cette mis à jour est:
  <strong>{{ action }}</strong>
  <hr style="width:100%;height:1px;background:#ccc;border:0;margin:1.2em">
  <span class="footer" style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous étes associé au projet {{ project.title|title }}</p>
  </span>
</body>
</html>
