{% load app_filters %}
<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8">
</head>
<body>
  Bonjour,<br>
  Derniers évènements des projets que vous suivez&nbsp;:<br>
  <ul>
    {% for stacked_event in stacked_events %}
      <li>{{ stacked_event.project_data.title }} :
          <ul>
            {% for event in stacked_event.stack_data.events %}
            <li>
              {% if event.event_type == 'delete' %}
                {% if event.object_type == 'feature' %}
                {{ event.created_on }} - "{{ event.data.feature_title }}"
                  Signalement supprimé par {{ event.user.full_name }}
                {% endif %}
              {% else %}

                {% if event.related_feature %}
                  {{ event.created_on }} - <a href="{{ event.related_feature.feature_url|absurl }}">"{{ event.related_feature.title }}"</a>
                {% else %}
                  {{ event.created_on }} - <s>"{{ event.data.feature_title }}"</s> <i>(Ressource supprimée depuis)</i> -
                {% endif%}

                {% if event.event_type == 'create' %}

                  {% if event.object_type == 'feature' %}
                    Signalement crée par {{ event.user.full_name }}

                  {% elif event.object_type == 'comment' %}
                    - Commentaire crée par {{ event.user.full_name }}
                    <strong>{{ event.related_comment.comment }}</strong>
                    {% if event.related_comment.attachments %}
                      {% for att in event.related_comment.attachments %}
                        <a href="{{ att.url|absurl }}" target="_blank">{{ att.title }}</a>
                      {% endfor %}
                    {% endif %}

                  {% elif event.object_type == 'attachment' %}
                    {{ event.created_on }} - Pièce-jointe ajoutée par {{ event.user.full_name }}
                  {% endif %}

                {% elif event.event_type == 'update' %}

                  {% if event.object_type == 'feature' %}
                    Signalement mis à jour par {{ event.user.full_name }}

                  {% elif event.object_type == 'attachment' %}
                    Pièce-jointe mise à jour par {{ event.user.full_name }}
                  {% endif %}

                {% endif %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
      </li>
    {% endfor %}
  </ul>
  <hr style="width:100%;height:1px;background:#ccc;border:0;margin:1.2em">
  <span class="footer" style="font-size:0.8em;font-style:italic">
    <p>Vous avez reçu ce message car vous êtes abonné(e) à l'outil {{ APPLICATION_NAME }}</p>
  </span>
</body>
</html>
