{% extends "collab/layout_menu.html" %}
{% load static %}
{% load app_filters %}
{% block content %}
{% if permissions|lookup:'can_create_feature'%}
<div class="ui middle aligned stackable grid container">
  <div class="row">
    <h2 class="ui header">Création d'un nouveau signalement pour le projet <a href="{% url 'collab:project' slug=project.slug %}">{{ project.title }}</a></h2>
  </div>
  <div class="row">
    <h3 class="ui header">Type: {{feature_type.title}} </h3>
  </div>
  <div class="row">
    <form class='ui equal width form add_feature' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="ui error message">
      {{ form.non_field_errors }}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
      </div>
      <table class="ui very basic table">
        <tbody>
          {% for field in form.visible_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
            {% if field.field.widget|is_checkbox %}
              {{ field }}

            {% elif field.field.widget|is_date %}
             <div class="field">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="date"/>
                </div>
            </div>
            {% else %}
              {{ field }}
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div style="margin-top:10px">
        <button class="green ui button" type="submit">
          Ajouter le signalement
        </button>
      </div>
    </form>
  </div>
</div>
{% else %}
<i class='icon exclamation triangle'></i>
<span>Vous ne disposez pas des droits nécessaires.</span>
{% endif %}
<script src="{% static 'collab/js/feature.js' %}">

</script>
{% endblock %}
