{% extends "collab/layout_menu.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

{% if success %}
    <br>
    <div class="ui success message">
      <div class="header">{{success}}</div>
    </div>
{% endif %}
{% if error %}
    <br>
    <div class="ui error message">
         <strong>{{error}}</strong>
     </div>
{% endif %}

{% if project %}
    <div class="ui middle aligned stackable grid container">

        <div class="row ">
          <h2 class="ui header">Créer un nouveau type de signalement</h2>
        </div>
        <form class='ui equal width addfeaturemodel form' method="POST">
            {% csrf_token %}
            <div class="ui error message"></div>
            <div class="required field">
                <label>Nom du nouveau type de signalement</label>
                <input type="text"  name="feature" placeholder="Nom du signalement" />
            </div>
            <div class="required field">
                <label>Type de géometrie associé</label>
                <div class="ui selection dropdown feature">
                    <input type="hidden"  name="geom_type" placeholder="Géométrie" value="0" />
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                       <div class="item" data-value="0">Point</div>
                       <div class="item" data-value="1">Ligne brisée</div>
                       <div class="item" data-value="2">Polygone</div>
                    </div>
                 </div>
            </div>
            <span id='title_addfeature'>Champ(s) additionnel(s)</span>
             <div id="dynamicInput">
                  <div class="ui input">
                    <input type="text"  placeholder="Nom du champ" name="field_name">
                  </div>
                  <div class="ui selection dropdown">
                    <input type="hidden" name="field_type" placeholder="Type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Type</div>
                    <div class="menu">
                      <div class="item" data-value="int">Nombre entier</div>
                      <div class="item" data-value="float">Nombre réel</div>
                      <div class="item" data-value="date">Date</div>
                      <div class="item"  data-value="string">Chaîne de caractères</div>
                      <div class="item"  data-value="text">Texte</div>
                      <div class="item"  data-value="boolean">Booléen</div>
                    </div>
                  </div>
                  <div class="ui input">
                    <input type="text"  placeholder="Libelllé du champ" name="labels">
                  </div>
                  <i onClick="addInput('dynamicInput');" class="big green plus square icon"></i>
             </div>
             <div style="margin-top:10px">
                <!-- <input class="ui button" type="button" value="Ajout d'un nouveau champ" onClick="addInput('dynamicInput');"> -->
                <button class="green ui button" type="submit">
                  Créer le type de signalement
               </button>
             </div>
        </form>
    </div>
{% else %}
    <i class='icon exclamation triangle'></i>
    <span>Vous ne disposez pas des droits nécessaires.</span>
{% endif %}
{% load staticfiles %}
  <script src="{% static 'collab/js/add_model.js' %}"></script>
{% endblock %}
