{% extends "collab/layout_menu.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

{% if success %}
<br>
<div class="ui success message">
  <div class="header">{{success}}</div>
</div>
{% endif %}
{% if error %}
<br>
<div class="ui error message">
  <strong>{{error}}</strong>
</div>
{% endif %}
<div class="ui middle aligned stackable grid container">

  <div class="row ">
    <h2 class="ui header">Créer un nouveau type de signalement pour le projet <a href="{% url 'collab:project' slug=project.slug %}">{{ project.title }}</a></h2>

  </div>
  <form class='ui equal width addfeaturemodel form' method="POST">
    {% csrf_token %}
    <div class="ui error message"></div>
    {{ form.as_p }}
    <input type="button" value="+" id="add_more">
    <table class="ui celled padded table">
      {{ formset.management_form }}
      <div id="form_set">
      {{ formset.non_form_errors }}
      {% for form in formset %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}
          {{ form.as_table }}
      {% endfor %}
      </div>
    </table>
    <div id="empty_form" style="display:none">
      <table class='ui compact celled definition table'>
        {{ formset.empty_form.as_table }}
      </table>
    </div>
    <div style="margin-top:10px">
      <button class="green ui button" type="submit">
        Créer le type de signalement
      </button>
    </div>
  </form>
</div>

<script>
$('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>
{% endblock %}
