{% load staticfiles %}
{% if rights.feat_creation %}
    <button id="addattachment" role="button" class="ui basic green tiny button">
      <i class="plus icon"></i>
        Ajouter une piece jointe
    </button>
{% endif %}

{% if attachments %}
  <div class="ui grid">
    {% for attachment in attachments %}
     <div class="four wide column">
        <div class="ui card">
            <div class="image">
              {% if 'pdf' in attachment.file.url and attachment.file %}
                <img alt='pdf' src="{% static 'collab/img/pdf.png' %}" >
              {% elif attachment.file%}
                <img alt='image'  src="{{attachment.file.url}}" >
              {%endif %}
            </div>
            <div class="content">
              {% if attachment.file %}
                  <a href="{{attachment.file.url}}" class="header">{{attachment.title}}</a>
              {%endif %}
            </div>
            <div class="extra content">
              Ajouter le {{attachment.creation_date|date:"d/m/Y"}} <br>
              <i class="user icon"></i> Par {{attachment.author.first_name|title}} {{attachment.author.last_name|title}}
            </div>
        </div>
     </div>
    {% endfor %}
  </div>

{% endif %}
<div class="ui small modal attachment">
    <i class="close icon"></i>
    <div class="header">
        Ajouter une pièce jointe
    </div>

    <div class="content">

        <form id="add_form" action="{% url 'project_add_attachment' project_slug=project.slug feature_type=request.resolver_match.kwargs.feature_type  feature_pk=request.resolver_match.kwargs.feature_pk%}" enctype="multipart/form-data" class="ui form attachment_form" method="POST">
            {% csrf_token %}
            <div class="ui positive message hidden" id="positive_message">
              <div class="header">
                La pièce jointe a bien  été ajouté
              </div>
            </div>
            <div class="ui negative message hidden" id="error_message">
                <div class="header">
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="required field">
                <label>Titre</label>
                <input type="text" name='title' id="title_attachment" />
            </div>
            <div ondrop="drop(event)" class="drop-area field" ondragover="allowDrop(event)">
                  <label for="add_file">Choisir un document </label><br>
                  <input class="input-file" type="file" id="add_file" name="file" >
                  ou<br>
                  le glisser ici
                  <div class="attachment_filename">
                    Aucun document sélectionné
                  </div>
            </div>
            <div class="field">
                <label>Information additonelle</label>
                <textarea name="info" ></textarea>
            </div>
            <div class="actions">
                <div class="ui cancel button">Annuler</div>
                <button class="ui button green" id="submit_attachment" type="submit">Ajouter</button>
            </div>
        </form>
    </div>
</div>
<script>
  var current_file_upload;
    $(".input-file").on("change", function (e) {
      var input_file = document.querySelector('.drop-area .input-file');
      current_file_upload = input_file.files[0];
      $(".drop-area .attachment_filename").html(input_file.files[0].name);
    });
  function allowDrop(event) {
    event.preventDefault();
  }
  function drop(event) {
    event.preventDefault();
    var dropped_file = event.dataTransfer.files[0];
    $(".drop-area .attachment_filename").html(dropped_file.name);
    current_file_upload = dropped_file;
  }

	$("#addattachment").click(function(){
		$(".attachment").modal('show');
	});
	$(".attachment").modal({
		closable: true
	});
  var form = document.getElementById('add_form');
  function isEmpty(value){
    return (value == null || value === '');
  }
  form.onsubmit = function(event) {
      event.preventDefault();
      // check form
      var title_attachment =  $('#title_attachment').val();
      console.log(title_attachment);
      if(isEmpty(current_file_upload) ||  title_attachment === ""){
            $('#error_message').html('<span>Veuillez entrer un titre/pièce jointe</span>');
            $( "#error_message").show();
            return false
      }
      // verif size and allowed format

      if(current_file_upload){
        if(current_file_upload.size >20000000) {
          $('#error_message').html('<span>Le fichier est trop volumineux, la taille maximale est de 10 Mo.</span>');
          $( "#error_message").show();
          return false
        }
        var img_format = "{{img_format}}";
        img_format = img_format.split(',');
        if(!img_format.includes(current_file_upload.type )){
          $('#error_message').html('<span>Le document doit être au format '+ img_format +' .</span>');
          $( "#error_message").show();
          return false
        }
      }
      var formData =new FormData(document.getElementById('add_form'))
      formData.append("file", current_file_upload);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", form.action);
      xhr.onload = function () {
        if (xhr.status === 200) {
          window.location.replace(window.location.href);
        } else {
          $('#error_message').html("<span>Une erreur s'est produite. Veuillez réessayer ultérieurement.</span>");
          $( "#error_message").show();
        }
      };
      xhr.send(formData);
  }
  $(".close.icon").click(function(){
      $('#add_form').form('reset');
      $( "#positive_message").hide();
      $( "#error_message").hide();
  });
  ;
</script>
