{% load staticfiles %}
{% if rights.feat_creation %}
   <button id="addcomment" role="button" class="ui basic green tiny button">
      <i class="plus icon"></i>
        Ajouter un commentaire
    </button>
{% endif %}
{% if comments %}
   <div class="ui one column grid">
       {% for val in comments %}
          <div class="column">
             <div class="ui fluid card">
                 <div class="content">
                    <div class="description">
                      {{val.comment}}
                    </div>
                 </div>
                 <div class="content">
                    {% get_nested_item com_attachment val.comment_id  as com_att  %}
                    {% if com_att.file%}
                        <i class="green paperclip  fitted icon">
                           <a href="{{com_att.file.url}}" class="header">{{com_att.title}}</a>
                        </i>
                   {% else%}
                        <i class="grey paperclip  fitted icon">
                              <a href="#" class="header">Aucune pièce jointe</a>
                        </i>
                  {% endif %}
                 </div>
                 <div class="extra content">
                      <div class="left floated">
                         <i class="user icon"></i>
                         Ajouter par {{val.author__username|title}} <br>
                         le {{val.creation_date|date:"d/m/Y"}}
                      </div>
                      {% if rights.feat_modification %}
                         <form action="{% url 'project_comment' project_slug=project.slug feature_type_slug=request.resolver_match.kwargs.feature_type_slug feature_id=request.resolver_match.kwargs.feature_id %}" method='POST'>
                           {% csrf_token %}
                           <input type="hidden" name="_method" value="delete">
                           <input type="hidden" name="comment_id" value={{val.comment_id}}>
                           <button type='submit' role="button" id="btn_remove_comment" class="ui basic red icon mini button">
                              <i class="trash alternate icon"></i>
                           </button>
                         </form>

                      {% endif %}
                </div>
             </div>
         </div>
       {% endfor %}
   </div>

{% endif %}

<div class="ui small modal comment">
    <i class="close icon"></i>
    <div class="header">
        Ajouter un commentaire
    </div>

    <div class="content">

        <form id="commentform" action="{% url 'project_comment' project_slug=project.slug feature_type_slug=request.resolver_match.kwargs.feature_type_slug  feature_id=request.resolver_match.kwargs.feature_id%}" class="ui form comment_form" method="POST">
        {% csrf_token %}
            <div class="ui positive message hidden" id="positive_message">
              <div class="header">
                Le commentaire a bien  été ajouté
              </div>
            </div>
            <div class="ui negative message hidden" id="error_comment"></div>
            <div class="ui error message"></div>
            <div class="required field">
                <textarea name="comment"></textarea>
            </div>
            <div class="field">
                <label>Titre de la pièce jointe</label>
                <input type="text" name='title' id='title'/>
            </div>
            <div ondrop="drop_comment(event)" class="drop-area-comment field" ondragover="allowDropComment(event)">
                  <label for="add_file_comment">Choisir un document </label><br>
                  <input class="input-file-comment" type="file" id="add_file_comment" name="file" >
                  ou<br>
                  le glisser ici
                  <div class="attachment_filename_comment">
                    Aucun document sélectionné
                  </div>
            </div>
            <div class="field">
                <label>Information additonelle (pièce jointe)</label>
                <textarea name="info" id='infotxt'></textarea>
            </div>
            <div class="actions">
                <div class="ui cancel button">Annuler</div>
                <button class="ui button green" type="submit"  >Ajouter</button>
            </div>
        </form>
    </div>
</div>
<script>

  var current_attach_file;
    $(".input-file-comment").on("change", function (e) {
      var input_file = document.querySelector('.drop-area-comment .input-file-comment');
      current_attach_file = input_file.files[0];
      $(".drop-area-comment .attachment_filename_comment").html(input_file.files[0].name);
  });

  function allowDropComment(event) {
    event.preventDefault();
  }

  function drop_comment(event) {
    event.preventDefault();
    var dropped_file = event.dataTransfer.files[0];
    $(".drop-area-comment .attachment_filename_comment").html(dropped_file.name);
    current_attach_file = dropped_file;
  }

  var comment_form = document.getElementById('commentform');
  function isEmpty(value){
    return (value == null || value === '');
  }
  comment_form.onsubmit = function(event) {
      event.preventDefault();
      // check form
      var title =  $('#title').val();
      var info =  $("#infotxt").val();
      if(current_attach_file && title === ""){
            $('#error_comment').html('<span>Veuillez entrer un titre pour cette piece jointe</span>');
            $( "#error_comment").show();
            return false
      }

      if( (isEmpty(current_attach_file) && title) || (isEmpty(current_attach_file) && info)){
            $('#error_comment').html('<span>Veuillez fournir une piece jointe</span>');
            $("#error_comment").show();
            return false
      }
      // verif size and allowed format

      if(current_attach_file){
        var file_max_size = "{{file_max_size}}";
        if(parseFloat(current_attach_file.size) > parseFloat(file_max_size)) {
          $('#error_comment').html('<span>Le fichier est trop volumineux, la taille maximale est de 10 Mo.</span>');
          $( "#error_comment").show();
          return false
        }
        var img_format = "{{img_format}}";
        img_format = img_format.split(',');
        if(!img_format.includes(current_attach_file.type )){
          $('#error_comment').html('<span>Le document doit être au format '+ img_format +' .</span>');
          $( "#error_comment").show();
          return false
        }
      }

      var formData =new FormData(document.getElementById('commentform'))
      formData.append("file", current_attach_file);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", comment_form.action);
      xhr.onload = function () {
        if (xhr.status === 200) {
          window.location.replace(window.location.href);
        } else {
          $( "#error_comment").show();
        }
      };
      xhr.send(formData);
  }
  $(".close.icon").click(function(){
      $('#commentform').form('reset');
      $( "#positive_message").hide();
      $( "#error_comment").hide();
  });

	$("#addcomment").click(function(){
		$(".comment").modal('show');
	});
	$(".comment").modal({
		closable: true
	});



  $('.comment_form')
    .form({
      fields: {
        comment     :  {
          identifier: 'comment',
          rules: [
            {
              type   : 'empty',
              prompt : 'Veuillez entrer un commentaire'
            }
          ]
        }
      }
    })
  ;
</script>
