{% load staticfiles %}

{% if events %}
   <div class="ui one column grid">
       {% for val in events %}
          <div class="column">
             <div class="ui fluid card">
                 <div class="content">
                    <div class="description">
                      {{val.get_object_type_display}} </br>
                      {{val.get_event_type_display}} </br>
                      {{val.data}}

                    </div>
                 </div>
                 <div class="extra content">
                      <div class="left floated">
                         <i class="user icon"></i>
                         Ajouter par {{val.user.username|title}} <br>
                         le {{val.creation_date|date:"d/m/Y"}}
                      </div>
                </div>
             </div>
         </div>
       {% endfor %}
   </div>

{% endif %}
