{% extends "collab/layout_menu.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}


{% if rights.feat_consultation %}
    <div class="project_header">
        <h2 class="ui header">Projet {{project.title|title}}</h2>
        <h3>{{feature.title}}</h3>
    </div>
    <div id="feature_detail">
      {% if success or error %}
          {% if success %}
              <div class="ui success message">
                  <div id="success" class="header">{{success}}</div>
              </div>
          {% elif error %}
              <div class="ui error message">
                  <div class="header">{{error}}</div>
              </div>
          {% endif %}
       {%endif %}
        {% include 'collab/feature/feature_detail.html' %}
    </div>
    <div id="edit_feature">
        {% include 'collab/feature/edit_feature.html' %}
    </div>
    <!--  carte -->
    <div id='mapdetail'></div>
    <div class="ui top attached tabular menu" id="feature_menu">
      <div class="item active" data-tab="comment">Commentaires</div>
      <div class="item" data-tab="attachment">Pièces Jointes</div>
    </div>
    <!--  comments -->
    <div class="ui bottom attached tab segment active" id="comments" data-tab="comment">
        {% include 'collab/feature/comments.html' %}
    </div>
    <!--  attachment -->
    <div class="ui bottom attached tab segment" id="attachments" data-tab="attachment">
        {% include 'collab/feature/attachment.html' %}
    </div>

{% else %}
    <i class='icon exclamation triangle'></i>
    <span>Vous ne disposez pas des droits nécessaires.</span>
{% endif %}
{% load staticfiles %}
<script src="{% static 'collab/js/feature.js' %}"></script>
{% endblock %}
