{% extends "collab/base.html" %}

{% load app_filters %}
{% load static %}
{% load l10n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="fourteen wide column">
    <h1 class="ui header">
      <div class="content">
        {{ feature.title }}
        {% if permissions|lookup:'can_update_feature' %}
          <div class="ui icon right floated compact buttons">
            <a href="{% url 'collab:feature_update' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id %}" class="ui button button-hover-orange">
              <i class="inverted grey pencil alternate icon"></i>
            </a>
            <a id="feature-delete" class="ui button button-hover-red">
              <i class="inverted grey trash alternate icon"></i>
            </a>
          </div>
        {% endif %}
        <div class="ui hidden divider"></div>
        <div class="sub header">
          {{ feature.description|linebreaks }}
        </div>
      </div>
    </h1>
  </div>
</div>

<div class="row">
  <div class="seven wide column">
    <table class="ui very basic table">
      <tbody>
        {% for field in feature_data %}
        <tr>
          <td><b>{{ field|lookup:'label' }}</b></td>
          <td><b>
            {{ field|lookup:'value' }}
          </b></td>
        </tr>
        {% endfor %}
        <tr>
          <td>Auteur</td>
          <td>{{ feature.creator.get_full_name|default:feature.creator.username }}</td>
        </tr>
        <tr>
          <td>Date de création</td>
          <td>{{ feature.created_on }}</td>
        </tr>
        <tr>
          <td>Date de dernière modification</td>
          <td>{{ feature.updated_on }}</td>
        </tr>
        <tr>
          <td>Date d'archivage automatique</td>
          <td>{{ feature.archived_on }}</td>
        </tr>
        <tr>
          <td>Date de suppression automatique</td>
          <td>{{ feature.deletion_on }}</td>
        </tr>

        <!-- <tr>
          <th>Signalements liés</th>
          {%for row in linked_features %}
          <td>
            {{row.get_relation_type_display}}: <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=row.feature_to  %}" class="header">{{row.feature_to}}</a>
          </td>
          {% empty %}
            <td><i class="minus icon"></td>
          {% endfor %}
        <tr> -->
      </tbody>
    </table>
    {% for link in linked_features %}
      <p>{{ link.relation_type }} {{ link.feature_to }}</p>
    {% endfor %}
  </div>
  <div class="seven wide column">
    <a href="{% url 'collab:feature_list' slug=project.slug %}">
      <div id="map"></div>
    </a>
  </div>
</div>

<div class="row">
  <div class="seven wide column">
    <h2 class="ui header">Pièces jointes</h2>

    <div class="ui divided items">
      {% for pj in attachments %}
      <div class="item">
        <a class="ui tiny image" target="_blank" href="{{ pj.attachment_file.url }}">
          {% if pj.extension == '.pdf' %}
            <img src="{% static 'collab/img/pdf.png' %}">
          {% else %}
            <img src="{{ pj.attachment_file.url }}">
          {% endif %}
        </a>
        <div class="middle aligned content">
          <a class="header" target="_blank" href="{{ pj.attachment_file.url }}">{{ pj.title }}</a>
          <div class="description">
            {{ pj.info }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="seven wide column">
    <h2 class="ui header">Activités et commentaires</h2>

    <div class="ui feed">
      {% for event in events %}
      <div class="event">
        {% if event.event_type == 'create' %}
          {% if event.object_type == 'feature' %}
          <div class="content">
            <div class="summary">
              Création du signalement
              {% if user.is_authenticated %} par {{ event.user.full_name }}{% endif %}
              <div class="date">
                {{ event.created_on }}
              </div>
            </div>
          </div>
          {% elif event.object_type == 'comment' %}
          <div class="content">
            <div class="summary">
              Commentaire
              {% if user.is_authenticated %} par {{ event.user.full_name }}{% endif %}
              <div class="date">
                {{ event.created_on }}
              </div>
            </div>
            <div class="extra text">
              {{ event.related_comment.comment }}
              {% if event.related_comment.attachments %}
                {% for att in event.related_comment.attachments %}
                  <a href="{{ att.url }}" target="_blank"><i class="paperclip icon"></i> {{ att.title }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% elif event.event_type == 'update' %}
        <div class="content">
          <div class="summary">
            Signalement mis à jour
            {% if user.is_authenticated %} par {{ event.user.full_name }}{% endif %}
            <div class="date">
              {{ event.created_on }}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <!-- <div class="ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Ajouter un commentaire
      </div>
      <div class="content"> -->
        <div class="ui segment">
          <form id="form-comment" action="{% url 'collab:add_comment' slug=project.slug feature_type_slug=feature_type.slug  feature_id=feature.feature_id%}" class="ui form" method="POST" enctype="multipart/form-data">
            {% for hidden in comment_form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% if comment_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in comment_form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}
            <div class="required field">
              <label for="{{ comment_form.comment.id_for_label }}">Ajouter un commentaire</label>
              <textarea name="{{ comment_form.comment.html_name }}" rows="2">{% if comment_form.comment.value %}{{ comment_form.comment.value }}{% endif %}</textarea>
              {{ comment_form.comment.errors }}
            </div>
            <label>Pièce jointe (facultative)</label>
            <div class="two fields">
              <div class="field">
                <input type="text" name="{{ comment_form.title.html_name }}" id="{{ comment_form.title.id_for_label }}"
                  value="{% if comment_form.title.value %}{{ comment_form.title.value }}{% endif %}" >
                {{ comment_form.title.errors }}
              </div>
              <div class="field">
                <label class="ui icon button" for="attachment_file">
                  <i class="paperclip icon"></i>
                  <span class="label">Sélectionner un fichier ...</span>
                </label>
                <input type="file" accept="application/pdf, image/jpeg, image/png" style="display:none;"
                  name="attachment_file" id="attachment_file">
                {{ comment_form.attachment_file.errors }}
              </div>
            </div>
            <button type="submit" class="ui compact green icon button">
              <i class="plus icon"></i> Poster le commentaire
            </button>
          </form>
        </div>
      <!-- </div>
    </div> -->
  </div>
</div>


<div class="ui mini modal">
  <div class="header">Suppression du signalement</div>
  <div class="content">
    <p>Êtes-vous sûr de vouloir supprimer ce signalement ?</p>
  </div>
  <div class="actions delete_actions">
    <div class="ui negative button">
      Non
    </div>
    <form action="{% url 'collab:feature_delete' slug=project.slug feature_type_slug=feature_type.slug feature_id=feature.feature_id %}" method='POST'>
      {% csrf_token %}
      <input type="hidden" name="_method" value="delete">
      <button type='submit' class="ui positive right labeled icon button">
        Oui
        <i class="checkmark icon"></i>
      </button>
    </form>
  </div>
</div>

{% endblock %}

{% block custom_resources %}
<style>
  #map {
    width: 100%;
    height: 100%;
    min-height: 250px;
  }
</style>

<script type="text/javascript">
  function truncate(n, len) {
    var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase()
    var filename = n.replace('.' + ext, '')
    if (filename.length <= len) {
      return n
    }
    filename = filename.substr(0, len) + (n.length > len ? '[...]' : '')
    return filename + '.' + ext
  }

  $(document).on('change', '#form-comment #attachment_file', function () {
    var logoFile = $(this).prop('files')[0]
    $(this).parent().children('label').children('.label').html(truncate(logoFile.name, 10))
  })

  $(document).ready(function() {

    $('#feature-delete').click(function() {
      $('.mini.modal').modal('show')
    })

    var map = L.map('map', {zoomControl: false}).setView([43.604462, 1.444247], 13)
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)

    map.dragging.disable()
    map.doubleClickZoom.disable()
    map.scrollWheelZoom.disable()

    console.log("{{ feature.geom.wkt }}");
    var featureGroup = new L.FeatureGroup()
    var geomFeatureJSON = wellknown.parse("{{ feature.geom.wkt }}")
    console.log('geomFeatureJSON', geomFeatureJSON);
    var geomJSON = turf.flip(geomFeatureJSON)
    console.log('geomJSON', geomJSON);
    if (geomJSON.type === 'Point') {
      L.circleMarker(geomJSON.coordinates, {color: '{{ feature.feature_type.color }}'}).addTo(featureGroup)
    } else if (geomJSON.type === 'LineString') {
      L.polyline(geomJSON.coordinates, {color: '{{ feature.feature_type.color }}'}).addTo(featureGroup)
    } else if (geomJSON.type === 'Polygon') {
      L.polygon(geomJSON.coordinates, {color: '{{ feature.feature_type.color }}'}).addTo(featureGroup)
    }
    map.addLayer(featureGroup);
    map.fitBounds(featureGroup.getBounds())
  })
</script>
{% endblock %}
