
<div id="feature_detail">
    {% if rights.feat_modification or request.user.id == feature.user_id  %}
        <i id="btn_feature_edit" class="orange big edit icon "></i>
    {% endif %}
    <table class="ui very basic table">
        <tbody>
          {% for key,val in feature.items %}
              {% if key|display_key %}
                <tr>
                      <td><strong>{{labels|get_dict_item:key}}</strong></td>

                      {% if val %}
                          {% if val == True %}
                            <td><i class="green check icon"></td>
                          {% elif val == False %}
                            <td><i class="inverted red remove icon"></td>
                          {% else %}
                            <td>{{val|feature_val_display}}</td>
                          {% endif %}
                      {% else %}
                          <td><i class="minus icon"></td>
                      {% endif %}
                  </tr>
              {% endif %}
          {% endfor %}
          <tr><td><strong>Auteur</strong></td>
              <td>{{author}}</td>
          <tr>
        </tbody>
    </table>
</div>
<script>
    // modify type of cursor
    var element = document.getElementById("btn_feature_edit");
    element.style.cursor = "pointer";
    $("#btn_feature_edit").on('click', function(e) {
        url = ''
        $.ajax({
          url: url,
          type: 'GET',
          success: function (data) {
              $('#feature_detail').html("");
              $('#feature_menu').hide();
              $('#comments').hide();
              $('#attachments').hide();
              $('#edit_feature').html(data);
          },
          error: function(err) {
            console.log('Error occured', err);
          }
        });

    });

</script>
