{% extends "collab/base.html" %}

{% load static %}
{% load app_filters %}

{% block content %}
<div class="row">
  <div class="four wide column">
    <h1>Signalements</h1>
  </div>
  <div class="ten wide column">
    <div class="ui secondary menu">
      <a class="item active" data-tab="map" data-tooltip="Carte"><i class="map fitted icon"></i></a>
      <a class="item" data-tab="list" data-tooltip="Liste"><i class="list fitted icon"></i></a>
      <div class="item">
        <h4>{{ features|length }} signalement{% if features|length > 1 %}s{% endif %}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="four wide column">

    <div>
      <h4 class="ui horizontal divider header">FILTRES</h4>

      <form id="form-filters" class="ui form" action="" method="get">
        <div class="field">
          <label>Type</label>
          <div class="ui fluid search selection dropdown">
            <input type="hidden" class="filter" name="feature_type" value="{% if request.GET.feature_type %}{{ request.GET.feature_type }}{% endif %}">
            <div class="default text"></div>
            <i class="dropdown icon"></i>
            <div class="menu" style="z-index:9999">
              {% for type in feature_types %}
                <div class="item" data-value="{{ type.slug }}" {% if request.GET.type == type.slug %} selected{% endif %}>{{ type.title }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="field">
          <label>Statut</label>
          <div class="ui fluid search selection dropdown">
            <input type="hidden" class="filter" name="status" value="{% if request.GET.status %}{{ request.GET.status }}{% endif %}">
            <div class="default text"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {% for x,y in status_choices %}
                <div class="item" data-value="{{ x }}" {% if request.GET.status == x %} selected{% endif %}>{{ y }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="field">
          <label>Titre</label>
          <div class="ui icon input">
            <i class="search icon"></i>
            <div class="ui action input">
              <input type="text" name="title" value="{% if request.GET.title %}{{ request.GET.title }}{% endif %}">
              <button type="button" class="ui teal icon button" id="submit-search">
                <i class="search icon"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="ten wide column">

    <div class="ui hidden divider"></div>
    <div class="ui tab active" data-tab="map">
      <div id="map"></div>
    </div>

    <div class="ui tab" data-tab="list">
    <table id="table-features" class="ui compact table">
      <thead>
        <tr>
          <th>Statut</th>
          <th>Type</th>
          <th>Titre</th>
          <th>Dernière modification</th>
          {% if user.is_authenticated %}
            <th>Auteur</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for feature in features %}
        <tr>
          <td data-order="{{ feature.get_status_display }}">
            {% if feature.status == 'archived' %}
            <div data-tooltip="Archivé">
              <i class="grey archive icon"></i>
            </div>
            {% elif feature.status == 'pending' %}
              <div data-tooltip="En attente de publication">
                <i class="teal hourglass outline icon"></i>
              </div>
            {% elif feature.status == 'published' %}
              <div data-tooltip="Publié">
                <i class="olive check icon"></i>
              </div>
            {% elif feature.status == 'draft' %}
              <div data-tooltip="Brouillon">
                <i class="orange pencil alternate icon"></i>
              </div>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'collab:feature_type_detail' slug=project.slug feature_type_slug=feature.feature_type.slug %}"> {{ feature.feature_type.title }} </a>
          </td>
          <td>
            <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id  %}">{{ feature.title }}</a>
          </td>
          <td data-order="{{ feature.updated_on|date:'Ymd' }}">
            {{feature.updated_on|date:'d/m/Y' }}
          </td>
          {% if user.is_authenticated %}
            <td>
              {{ feature.creator.first_name }} {{ feature.creator.last_name }}
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}


{% block custom_resources %}
<style>
  #map {
    width: 100%;
    min-height: 300px;
  }
</style>
<script>
  function getDataFilters() {
    var $form = $("#form-filters").serializeArray()
    var requestURL = `{% url 'collab:feature_list' slug=project.slug %}`
    for (var field of $form) {
      if (field.value) {
        if (requestURL.includes('?')) {
          requestURL = `${requestURL}&${field.name}=${field.value}`
        } else {
          requestURL = `${requestURL}?${field.name}=${field.value}`
        }
      }
    }
    document.location = requestURL
  }

  $(document).ready(function() {

    $('#form-filters .ui.selection.dropdown').dropdown({
      clearable: true
    })

    $(document).on('click', '#submit-search', function () {
      getDataFilters()
    })
    $(document).on('change', '#form-filters .filter', function () {
      getDataFilters()
    })

    $('#table-features').DataTable({
      "language": {
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible",
          "oPaginate": {
              "sFirst":      "Premier",
              "sPrevious":   "Pr&eacute;c&eacute;dent",
              "sNext":       "Suivant",
              "sLast":       "Dernier"
          },
          "oAria": {
              "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
              "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          }
      },
      "searching" : false,
      "ordering" : true,
      "order": [],
      "lengthChange" : false,
      "pageLength": 15,
      "columnDefs": [{ className: "dt-center", targets: "_all" }]
    })

    var main = parseInt($("main").css("height"),10)
    $("#map").css("height", main - 150)

    var map = L.map('map', {zoomControl: false}).setView([50.00976, 2.8657699], 7)
    L.control.zoom({zoomInTitle:'Zoomer', zoomOutTitle:'Dézoomer'}).addTo(map)

    {% if layers %}
      {% for layer in layers %}
        var options = {{ layer.options|safe }}
        console.log(`{{ layer.service }}`, options);
        {% if layer.schema_type == "wms" %}
          L.tileLayer.wms('{{ layer.service }}', options).addTo(map)
        {% elif layer.schema_type == "tms" %}
          L.tileLayer('{{ layer.service }}', options).addTo(map)
        {% endif %}
      {% endfor %}
    {% else %}
      L.tileLayer('{{ SERVICE }}',  JSON.parse('{{ OPTIONS | escapejs }}')).addTo(map)
    {% endif %}

    var featureGroup = new L.FeatureGroup()
    {% for feature in features %}
      var geomFeatureJSON = wellknown.parse("{{ feature.geom.wkt }}")
      var geomJSON = turf.flip(geomFeatureJSON)
      var popupContent = `
        <h4>
          <a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id  %}">{{ feature.title }}</a>
        </h4>
        <div>
          Statut :
          {% if feature.status == 'archived' %}
            Archivé
          {% elif feature.status == 'pending' %}
            En attente de publication
          {% elif feature.status == 'published' %}
            Publié
          {% elif feature.status == 'draft' %}
            Brouillon
          {% endif %}
        </div>
        <div>
          Type : <a href="{% url 'collab:feature_type_detail' slug=project.slug feature_type_slug=feature.feature_type.slug %}"> {{ feature.feature_type.title }} </a>
        </div>
        <div>
          Dernière mise à jour : {{feature.updated_on|date:'d/m/Y' }}
        </div>
        {% if user.is_authenticated %}
          <div>
            Auteur : {{ feature.creator.first_name }} {{ feature.creator.last_name }}
          </div>
        {% endif %}
      `

      if (geomJSON.type === 'Point') {
        L.circleMarker(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          radius: 4,
          fillOpacity: 0.3,
          weight: 1
        }).bindPopup(popupContent).addTo(featureGroup)
      } else if (geomJSON.type === 'LineString') {
        L.polyline(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          weight: 1.5
        }).bindPopup(popupContent).addTo(featureGroup)
      } else if (geomJSON.type === 'Polygon') {
        L.polygon(geomJSON.coordinates, {
          color: '{{ feature.feature_type.color }}',
          weight: 1.5,
          fillOpacity: 0.3
        }).bindPopup(popupContent).addTo(featureGroup)
      }
    {% endfor %}
    map.addLayer(featureGroup);
    map.fitBounds(featureGroup.getBounds())
  })
</script>
{% endblock %}
