{% extends "collab/layout_menu.html" %}
{% load static %}
{% load app_filters %}

{% block content %}
<div class="ui middle aligned stackable grid container">
  <div class="row ">
    <h2 class="ui header">
      Liste des signalements pour le projet <a href="{% url 'collab:project' slug=project.slug %}">{{ project.title }}</a>
    </h2>
  </div>
  <div class="row ">
    <table class="ui compact celled table">
      <thead>
        <tr>
          <th>Statut</th>
          <th>Titre</th>
          <th>Crée Par</th>
          <th>Du type</th>
        </tr>
      </thead>
      <tbody>
        {% for feature in features %}
        <tr>
          <td>
            {% if feature.status == 'archived'%}
            <span><i class="red file alternate outline icon">Archivé</i></span>
            {% elif feature.status == 'pending'%}
            <span><i class="orange file alternate outline icon"></i>En attente</span>
            {% elif feature.status == 'published'%}
            <span><i class="green file alternate outline icon"></i>Publié</span>
            {% else %}
            <span ><i class="file alternate outline icon"></i>Brouillon</span>
            {% endif %}
          </td>
          <td>
            <strong><a href="{% url 'collab:feature_detail' slug=project.slug feature_type_slug=feature.feature_type.slug feature_id=feature.feature_id  %}">{{feature.title|feature_val_display}}</a></strong>
          </td>
          <td>
            <span class="sous-titre">{{feature.user}} le {{feature.created_on }}</span>
          </td>
          <td>
            <span>{{feature.feature_type.title}}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'collab/js/feature.js' %}"></script>
{% endblock %}
