{% extends "collab/layout_menu.html" %}
{% load app_filters %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}


{%if rights.feat_consultation%}
  {% if feature_list %}
    <h2 class="ui header">
       CARTE
    </h2>
    <div id='maplist' ></div>
  {% else %}
    <h3 class="ui header">
        Aucun signalement n'a été créé pour cette application.
    </h3>
  {% endif %}
{% else %}
  <i class='icon exclamation triangle'></i>
  <span>Vous ne disposez pas des droits nécessaires.</span>
{% endif %}
{% load staticfiles %}
 <script >
     var maplist = new mapboxgl.Map({
               container: 'maplist', // container id
               style: 'https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json', // stylesheet location
               center: [1.97, 47.14], // starting position [lng, lat]
               zoom: 4 // starting zoomx
     });
 </script>
{% endblock %}
