/* ---------------------------------- */
            /* HEADER */
/* ---------------------------------- */

header {
  background: #373636;
}

main {
  padding: 2em 0em;
}

/* ---------------------------------- */
            /* MAIN */
/* ---------------------------------- */

.button-hover-orange:hover {
  background: #fbbd08 !important;
}
.button-hover-green:hover {
  background: #5bba21 !important;
}
.button-hover-red:hover {
  background: #ee2e24 !important;
}

.ui.header .content {
  width: 100%;
}

.ui.horizontal.divider {
  color: #1ab2b6!important;
  padding-top: 1.5em;
}

.delete-hidden-field {
  display: none;
}

.ui.dropdown .menu > .header {
  font-size: 1em;
  text-transform: none;
}

.ui.dropdown .menu.text-wrap {
  max-width: 80vw;
  overflow: auto;
}

.ui.dropdown .menu.text-wrap > .item {
  white-space: normal;
  word-wrap: normal;
}


/* Add basemap view */
#form-layers .ui.buttons{
  margin-bottom: 1rem;
}

#form-layers .errorlist{
  list-style: none;
  padding-left: 0;
  color: #9f3a38;
}

/* Fix semantic ui overflow when is too long */
.layer-item .form div.text {
  width: 100%
}

.ui.selection.dropdown .menu>.item {
  word-break: break-all;
}

/* Needs this unfortunatly, because semantic overrides the background-color */
#form-layers .blue-background-class {
  background-color: rgb(205, 229, 245);
}

/* Thicker borders for each basemap segment */
#form-layers [data-segments=basemap_set-SEGMENTS] > .ui.segment {
  margin-bottom: 3rem;
  border: 1px solid rgba(34,36,38,.30);
}


/* Sortable */
.layer-handle-sort {
  cursor: grab;
}

.blue-background-class {
  background-color: rgb(205, 229, 245);
}

.white-opacity-background-class {
  background-color: white;
  opacity: 0.9;
}

/*  */

/* ---------------------------------- */
      /* LEAFLET DRAW TOOLBAR */
/* ---------------------------------- */

.leaflet-draw-toolbar a.leaflet-draw-draw-circlemarker,
.leaflet-draw-toolbar a.leaflet-draw-draw-polyline,
.leaflet-draw-toolbar a.leaflet-draw-draw-polygon {
    background-color: #FFA19E;
}


/* ---------------------------------- */
      /* LEAFLET*/
/* ---------------------------------- */
.leaflet-container {
  background: #FFF;
}

/* ---------------------------------- */
            /* FOOTER */
/* ---------------------------------- */
footer {
  background-color: #464646;
  text-align: center;
}

footer .ui.text.menu .item {
  color: #ffffff;
  padding: 5px 14px;
}

footer .ui.text.menu a.item:hover {
  color: #1ab2b6;
}

footer .ui.text.menu .item:not(:first-child) {
    border-left: 1px solid rgba(34,36,38,.15);
}
/* ---------------------------------- */
      /* ERROR LIST */
/* ---------------------------------- */
.errorlist {
  margin-top: 1rem;
  padding: 0;
}

.errorlist > li {
  list-style: none;
  color: rgb(177, 55, 55);
  border:  thin solid rgb(197, 157, 157);
  border-radius: 3px;
  background-color: rgb(250, 241, 242);
  padding: 1rem;
}