/* The overflow hidden is used to allow the sidebar-layers animation */
.map-container {
  position: relative;
  overflow: hidden;
}

.sidebar-container {
  padding: 1rem;
  height: 100%;
  width: 250px;
  left: -250px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid grey;
  top: 0;
  position: absolute;
  /* Under this value, the map hide the sidebar */
  z-index: 400;
}

.sidebar-layers {
  position: absolute;
  right: -40px;
}

.layers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: -41px;
  top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.sidebar-container.expanded {
  left: 0;
  animation: 0.4s ease-out open-sidebar;
  overflow-y: auto;
}

.sidebar-container.closing {
  left: 0;
  animation: 0.4s ease-in close-sidebar;
}

.sidebar-container.expanded .layers-icon {
  right: 5px;
  border: none;
  animation: 0.4s ease-out expand-icon;
}

.sidebar-container.closing .layers-icon {
  right: -41px;
  border: none;
  animation: 0.4s ease-in collapse-icon;
}

.sidebar-container.expanded .layers-icon svg path,
.sidebar-container.closing .layers-icon svg path {
  fill: #00b5ad;
}

@keyframes open-sidebar {
  0% {
    left: -250px;
  }

  30% {
    left: -200px;
  }

  100% {
    left: 0;
  }
}

@keyframes close-sidebar {
  0% {
    left: -0;
  }

  70% {
    left: -200px;
  }

  100% {
    left: -250px;
  }
}

@keyframes expand-icon {
  0% {
    right: -40px;
  }

  30% {
    right: 10px;
  }

  100% {
    right: 5px;
  }
}

@keyframes collapse-icon {
  0% {
    right: 5px;
  }

  70% {
    right: 10px;
  }

  100% {
    right: -40px;
  }
}

.layers-icon svg {
  height: 30px;
  width: 30px;
}

.layers-icon svg path {
  fill: 'black';
  transition: fill 0.3s ease-out;
}

.layers-icon:hover svg path {
  fill: #00b5ad;
}

.basemaps-title {
  margin-bottom: 1rem;
}

.basemap-item {
  padding: 0.5rem;
}

/* Layer item */

.layer-item {
  padding-bottom: 0.5rem;
}

.layer-item i {
  color: grey;
}

.layer-item .ui.divider {
  margin: 0.5rem 0;
}

.range-container {
  display: flex;
}

.range-output-bubble {
  color: white;
  margin-left: 5px;
  padding: 4px 7px;
  border-radius: 40px;
  background-color: #2c3e50;
}

/* Overrides default padding of semantic-ui accordion */
.ui.styled.accordion .content {
  padding-bottom: 0.5rem;
}
