{% extends "geocontrib/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<div class="row">
  <div class="seven wide column">
    <h3 class="ui header">Créer un projet à partir d'un modèle disponible: </h3>
      <div class="ui divided items">
      {% for project in projects %}
      <div class="item">
        <div class="ui tiny image">
          <img src="{{ project.thumbnail }}">
        </div>
        <div class="middle aligned content">
          <div class="description">
            <a href="{% url 'geocontrib:project_create' %}?create_from={{project.slug}}">{{ project.title }}</a>
            <p>{{ project.description }}</p>
            {% if project.moderation %}<strong>Projet modéré</strong>{% else %}<strong>Projet non modéré</strong>{% endif %}
          </div>
          <div class="meta">
            <span data-tooltip="Délai avant archivage">
              {{ project.archive_feature }}&nbsp;<i class="box icon"></i>
            </span>
            <span data-tooltip="Délai avant suppression">
              {{ project.archive_feature }}&nbsp;<i class="trash alternate icon"></i>
            </span>
            <span data-tooltip="Date de création">
              {{ project.created_on }}&nbsp;<i class="calendar icon"></i>
            </span>
          </div>
          <div class="meta">
            <span data-tooltip="Visibilité des signalement publiés">
              {{ project.access_level_pub_feature }}&nbsp;<i class="eye icon"></i>
            </span>
            <span data-tooltip="Visibilité des signalement archivés">
              {{ project.access_level_arch_feature }}&nbsp;<i class="archive icon"></i>
            </span>
          </div>
        </div>
      </div>
      {% empty %}
      <span>Aucun projet type n'est défini.</span>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
