{% extends "geocontrib/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="fourteen wide column">

  <h1 class="ui header">Gérer les membres</h1>

  <form id="form-members" action="." method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    {{ formset.non_form_errors }}
    <table class="ui red table">
      <tbody>
        <thead>
          <tr>
            <th>Membre</th>
            <th>{{ formset.empty_form.level.label }}</th>
          </tr>
        </thead>
        <div id="formsets-members">
          {{ formset.management_form }}
          {% for form in formset %}
            {% if not form.DELETE.value %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <tr>
                <td>{{ form.first_name.value }} {{ form.last_name.value }}<br><i>{{ form.username.value }}</i></td>
                <td>
                  <div class="required field">
                    <div class="ui selection search dropdown">
                      <input type="hidden"
                        name="{{ form.level.html_name }}" id="{{ form.level.id_for_label }}"
                        value="{% if form.level.value %}{{ form.level.value }}{% endif %}">
                      <div class="default text"></div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        {% for x,y in form.level.field.choices %}
                          <div class="item" data-value="{{ x }}" {% if form.level.value == x %} selected{% endif %}>{{ y }}</div>
                        {% endfor %}
                      </div>
                    </div>
                    {{ form.level.errors }}
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </div>
      </tbody>
    </table>

    <div class="ui divider"></div>

    <button type="submit" class="ui teal icon button">
      <i class="white save icon"></i> Enregistrer les changements
    </button>

  </form>

</div>

{% endblock %}
