<div class="ui segment layer-item" data-segment="{{ form.prefix }}-SEGMENT">
  {% for hidden in form.hidden_fields %}{{ hidden.errors }}{{ hidden }}{% endfor %}
  {% if form.non_field_errors %}
  <div class="ui message negative">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  <div class="ui divided form">

    <div class="field" data-type='layer-field'>
      <label for="{{ form.layer.id_for_label }}" class="layer-handle-sort">
       <i class="th icon"></i> {{ form.layer.label }}
      </label>
      {% if is_empty %}
      {# TODO arranger le dropdown pour les ajout à la volée #}
      {# le selecteur de couche ne s'affichant pas correctement on passe par un field django par defaut en attendant #}
      {{ form.layer }}
      {% else %}
      <div class="ui fluid search selection dropdown">
        <input type="hidden" name="{{ form.layer.html_name }}" {% if form.layer.value %}value="{{ form.layer.value }}"{% endif %}>
        <i class="dropdown icon"></i>
        <div class="default text">Sélectionner une couche</div>
        <div class="menu">
        {% for x,y in form.layer.field.choices %}
        <div class="item{% if form.layer.value == x %} active selected{% endif %}" data-value="{{ x }}">{{ y }}</div>
        {% endfor %}
        </div>
      </div>
      {% endif %}
      {{ form.layer.errors }}
    </div>
    <div class="fields">
      <div class="field three wide {% if form.opacity.errors %} error{% endif %}">
        <label for="{{ form.opacity.id_for_label }}">{{ form.opacity.label }}</label>
        <input type="number" name="{{ form.opacity.html_name }}" id="{{ form.opacity.id_for_label }}" value="{{ form.opacity.value }}" step="0.01" min="{{ form.opacity.field.min_value }}"
          max="{{ form.opacity.field.max_value }}">
        {{ form.opacity.errors }}
      </div>
      <div class="field three wide">
        <div class="ui checkbox">
          <input type="checkbox" {% if form.queryable.value %}checked{% endif %}
            name="{{ form.queryable.html_name }}" id="{{ form.queryable.id_for_label }}">
          <label for="{{ form.queryable.id_for_label }}">{{ form.queryable.label }}</label>
        </div>
        {{ form.queryable.errors }}
      </div>
    </div>

    <div class="field">
      <div class="ui compact small icon floated button button-hover-red"
        data-variation="mini"
        data-delete-form="{{ form.prefix }}-DELETE">
        <i class="ui grey trash alternate icon"></i>
        <span>Supprimer cette couche</span>
        <div style="display: none">
          {{ form.DELETE }}
        </div>
      </div>
    </div>
  </div>
</div>
