{% extends "geocontrib/base.html" %}

{% load app_filters %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block custom_resources %}
{{ block.super }}
<script src="{% static 'geocontrib/js/nested_formset_handlers.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}


<div class="fourteen wide column">

  <h1 class="ui header">Administration des fonds cartographiques</h1>

  <form id="form-layers" action="." method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    {{ formset.management_form }}
    <div class="ui buttons">
      <a class="ui compact small icon left floated button green"  data-variation="mini" data-add-form="{{ formset.prefix }}-ADD">
        <i class="ui plus icon"></i>
        <span>Créer un fond cartographique</span>
      </a>
    </div>
    <div class="ui " data-segments="{{ formset.prefix }}-SEGMENTS">
      {% for form in formset.forms %}
        {% include 'geocontrib/project/project_mapping_basemap.html' with formset=formset form=form is_empty=False %}
      {% endfor %}
      <fieldset disabled="disabled" style="display: none">
        <div class="formset_hidden" data-empty-form="{{ formset.prefix }}-EMPTY" style="display: none">
          {% include 'geocontrib/project/project_mapping_basemap.html' with formset=formset form=formset.empty_form is_empty=True %}
        </div>
      </fieldset>
    </div>


    <button type="submit" class="ui teal icon floated button">
      <i class="white save icon"></i> Enregistrer les changements
    </button>


  </form>
  {% endblock %}
