<div class="ui segment" data-segment="{{ form.prefix }}-SEGMENT">
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% if form.non_field_errors %}
  <div class="ui segment">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  <div class="field required">
    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
    <small>{{ form.title.help_text|safe }}</small>
    <input type="text" maxlength="{{ form.title.field.max_length }}"
      name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}"
      value="{% if form.title.value %}{{ form.title.value }}{% endif %}" {% if not is_empty %}required{% endif %}>
    {{ form.title.errors }}
  </div>

  <div class="nested">
    {% if form.nested %}
    {{ form.nested.management_form }}
    <div class="ui segments layers-container" data-segments="{{ form.nested.prefix }}-SEGMENTS">
      {% for contextlayer_form in form.nested %}
      {% include 'geocontrib/project/project_mapping_contextlayer.html' with formset=form.nested form=contextlayer_form is_empty=False %}
      {% endfor %}
    </div>
    <div class="formset_hidden" data-empty-form="{{ form.nested.prefix }}-EMPTY" style="display: none">
      {% include 'geocontrib/project/project_mapping_contextlayer.html' with formset=form.nested form=form.nested.empty_form is_empty=True %}
    </div>

    <div class="ui buttons">
      <a class="ui compact small icon left floated button green" data-variation="mini" data-add-form="{{ form.nested.prefix }}-ADD">
        <i class="ui plus icon"></i>
        <span>Ajouter une couche</span>
      </a>
    </div>

    <div class="ui buttons" data-variation="mini" data-delete-form="{{ form.prefix }}-DELETE">
      <a class="ui compact red small icon right floated button button-hover-green">
        <i class="ui trash alternate icon"></i>
        <span>Supprimer ce fond cartographique</span>
      </a>
      <div style="display: none">
        {% if is_empty %}
        <input type="text" name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE">
        {% else %}
        {{ form.DELETE }}
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
