{% extends "geocontrib/base.html" %}

{% load app_filters %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'geocontrib/css/base.css' %}" />
<script src="{% static 'geocontrib/js/formset_handlers.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}


<div class="fourteen wide column">

  <h1 class="ui header">Administration des fonds cartographiques</h1>

  <form id="form-layers" action="." method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    <div id="test_formset_nested">
      {{ formset.management_form }}
      <div class="ui segments">
      {% for form in formset.forms %}
      <div class="ui placeholder segment">
        <div class="ui icon header">
        {{ form.as_table }}
      </div>
        <div class="inline">
          {% if form.nested %}
          <div class="ui segments">
            {% for subform in form.nested %}
            <div class="ui segment">
              {{ subform.as_table }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div class="ui button">Ajouter une couche</div>
        </div>
      </div>
      <div class="ui primary button">Supprimer ce fond cartographique</div>
      {% endfor %}

      <div class="{{ formset.prefix }}__bottom_buttons">
        <button class="ui right labeled icon button" data-related-fieldset="{{ formset.prefix }}">
          <i class="right add icon"></i>
          Ajouter un Fond cartographique
        </button>
      </div>

      <div class="formset_hidden" style="display: none">
        {{ formset.empty_form }}
      </div>

    </div>

    </div>

    <div class="ui divider"></div>

    <button type="submit" class="ui teal icon button">
      <i class="white save icon"></i> Enregistrer les changements
    </button>
  </form>

</div>

{% endblock %}
