{% extends "geocontrib/base.html" %}

{% load static %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="ten wide column">
        <h1>{{ flatpage.title }}</h1>
        {{ flatpage.content }}

        <div class="ui right rail">
            <div id="toc-container" class="ui sticky fixed">
                <h4 class="ui header">Table des matières</h4>
                <div id="page-toc" class="ui vertical large text menu">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // parse the ToC content (looking for h2 elements)
    var list = document.querySelectorAll("h2");
    var tocArr = [], cur; // holds the structure of the ToC
    for (var i = 0; i < list.length; i++) {
        var e = list[i];
        var id = e.id;

        // add id if not present
        if (id === "") {
            id = "toc-id-" + i;
            e.id = id;
        }

        tocArr.push(
            {
                text: e.textContent,
                id: id
            }
        );
    }

    // build the DOM nodes
    var toc = document.getElementById("page-toc");
    for (var i in tocArr) {
        var link = document.createElement("a");
        link.textContent = tocArr[i].text;
        link.classList.add("item");
        link.href = "#" + tocArr[i].id
        toc.appendChild(link);
    }
</script>
{% endblock %}
